/*
.slidderimgs{padding: 20px 0px;background-color: #d6d0d0;}
.first_slide{padding-bottom: 24px;}
.first_slide h4{text-transform: capitalize;background-color: #e84c3d;padding: 10px 30px;color: #fff;margin-bottom: 0px;}
.health_cnt img{max-width: 100%;}
.carousel-indicators {bottom: 60px;}
.health_cnt h3{border-bottom: 1px solid #e84c3d;padding: 10px 20px;color: #307ac7;font-size: 20px;text-transform: capitalize;}
.smart_city_links{padding-top: 10px;}
.smart_city-list{padding: 2px 0px;}
.smart_city-list ul li{display: inline-block;padding: 10px 26px;font-size: 18px;background-color: #e4e4e4;border-radius: 6px;text-transform: capitalize;}
.smart_city-list ul li a{text-decoration: none;color: #8c8787;}
.press h4{text-transform: capitalize;background-color: #e84c3d;padding: 10px 30px;color: #fff;margin-bottom: 0px;}
.press img{width: 100%;}
.today{background-color: #fff;height: 280px;}
.today h4{text-transform: capitalize;background-color: #e84c3d;padding: 10px 30px;color: #fff;margin-bottom: 0px;}
.upcoming_events{padding: 0px 20px;}
.upcoming_events h5{color: #2378d2;font-size: 16px;}
.upcoming_events p{padding: 0px 10px;font-size: 14px;text-transform: capitalize;}
.quick_links{background-color: #fff;}
.quick_links h4{text-transform: capitalize;background-color: #e84c3d;padding: 10px 30px;color: #fff;}
.quick_links ul li{text-transform: capitalize;list-style-type: none;padding: 11px 0px;font-size: 16px;border-bottom: 1px solid #ccc;}
.quick_links ul li a{text-decoration: none;}

#smallMap .gmap_canvas iframe{width: 100%;height: 270px;}
#cMap .gmap_canvas iframe{width: 100%;height: 585px;}

agm-map {
    height: 590px;
  }


*/
