/* #custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: #ffffff;
       border-bottom: 5px solid #2699c9;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}
.navbar {
       min-height: 120px !important;
}


.navbar-right {
    margin-right: 0px !important;
}
.ul_header{
	margin-top: 20px;
    font-weight: 700;
    color: black !important;
    font-size: 15px;
}
.baner_img{
	margin-top: 120px;
    width: 100%;
} */

.submit_btn{
    padding: 5px;
    width: 75px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #e84c3d;
    color: white;
}
.top_header{
    padding: 0px;
    border-bottom: 1px solid #ddd;
    margin-top: 7px;
    font-size: 12px;
}
.color_black{
	color:#000000 !important;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.padding0{
	padding:0px;
}
.mleft_mright0{
	margin-left:0px !important;
	margin-right:0px !important;
}
.floor{
    background: #e0d9d9b8;
    width: 97%;
    margin-left: 12px;
    padding: 10px;
}

.d_inline{
	display: inline;
}
.text-center{
	text-align: center;
}



/* .dropbtn {
    background-color: transparent;
    color: rgba(119, 119, 119, 1);
    padding: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color:black !important;
    text-align: left;
}

.dropdown-content a {
    color: black !important;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #2699c9;color:#fff !important}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    border-radius: 5px;
    color: rgba(119, 119, 119, 1);
} */

.capitalize { text-transform: capitalize; }


@media (min-width: 768px){
.navbar-right {
    margin-top: 16px !important;
}
}

.bg_colorLinks{
    background: -moz-linear-gradient(94deg, rgba(24,175,231,1) 0%, rgba(24,175,231,1) 52%, rgba(24,175,231,1) 79%, rgba(9,127,170,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(9,127,170,1)), color-stop(21%, rgba(24,175,231,1)), color-stop(48%, rgba(24,175,231,1)), color-stop(100%, rgba(24,175,231,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(94deg, rgba(24,175,231,1) 0%, rgba(24,175,231,1) 52%, rgba(24,175,231,1) 79%, rgba(9,127,170,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(94deg, rgba(24,175,231,1) 0%, rgba(24,175,231,1) 52%, rgba(24,175,231,1) 79%, rgba(9,127,170,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(94deg, rgba(24,175,231,1) 0%, rgba(24,175,231,1) 52%, rgba(24,175,231,1) 79%, rgba(9,127,170,1) 100%); /* ie10+ */
background: linear-gradient(356deg, rgba(24,175,231,1) 0%, rgba(24,175,231,1) 52%, rgba(24,175,231,1) 79%, rgba(9,127,170,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#097faa', endColorstr='#18afe7',GradientType=0 ); /* ie6-9 */
}

.linksHeading{
    min-height: 260px;
    border: 1px solid #3e707b;
    margin-top: 10px;
}
.links_li{
    border-bottom: 1px dotted #655d5d;
    margin-bottom: 5px;
    padding: 6px;
}

.heading1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    padding: 7px 24px;
    color: #fff;
    border-bottom: 1px solid #3e707b;
}
.links_img{
    width: 32px;
    float: right;
    margin-top: -4px;
}
.color000{
    color: #000000 !important;
    font-size: 11px;
}
.footerImg{
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer_li{
    float: left;
    border-right: 1px solid #ccc;
    color: white;
}
.footer_btn{
    background: -moz-linear-gradient(271deg, rgba(89,141,14,1) 0%, rgba(89,141,14,1) 4%, rgba(117,191,45,1) 30%, rgba(117,191,45,1) 68%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(89,141,14,1)), color-stop(4%, rgba(89,141,14,1)), color-stop(30%, rgba(117,191,45,1)), color-stop(68%, rgba(117,191,45,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(271deg, rgba(89,141,14,1) 0%, rgba(89,141,14,1) 4%, rgba(117,191,45,1) 30%, rgba(117,191,45,1) 68%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(271deg, rgba(89,141,14,1) 0%, rgba(89,141,14,1) 4%, rgba(117,191,45,1) 30%, rgba(117,191,45,1) 68%); /* opera 11.10+ */
background: -ms-linear-gradient(271deg, rgba(89,141,14,1) 0%, rgba(89,141,14,1) 4%, rgba(117,191,45,1) 30%, rgba(117,191,45,1) 68%); /* ie10+ */
background: linear-gradient(179deg, rgba(89,141,14,1) 0%, rgba(89,141,14,1) 4%, rgba(117,191,45,1) 30%, rgba(117,191,45,1) 68%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#598d0e', endColorstr='#75bf2d',GradientType=0 ); /* ie6-9 */
border: 1px solid rgba(89,141,14,1);
padding: 6px 10px;
    border-radius: 10px;
    color: #fff;
}

 map, div[map] {display:block; width:600px; height:400px;}
 .googleMap>ng-map{
 height:767px !important;
 }