<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Birth Registration </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <button class="btn btn-info pull-right" style="margin-top:15px;cursor:pointer;"><a href="#/viewBirthRequest">View Birth Requests</a></button>
        </div>
    </div>

</div>
<div class="modal-content mtop21" ng-controller="birthFormController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Birth Registration</h4>
    </div>
    <form role="form" class="" name="myform" class="adminContent" ng-submit="createBirth()">
        <div class="modal-body">
            <div class="row schemForms">

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        <span class="color-red f-bold f-left">*</span>Name:</label>
                    <input placeholder="Enter Name" type="text" ng-model="birthform.name">
                </div>


                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        <span class="color-red f-bold f-left">*</span>Date of Birth:</label>
                    <input placeholder="start date" format="%m-%d-%Y" ng-calendar type="text" ng-model="birthform.dob">
                </div>


                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        <span class="color-red f-bold f-left">*</span>Fathers Name:</label>
                    <input placeholder="Enter Name" type="text" ng-model="birthform.fname">
                </div>


                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        <span class="color-red f-bold f-left">*</span>Mothers Name:</label>
                    <input placeholder="Enter Name" type="text" ng-model="birthform.mname">
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <span class="color-red f-bold f-left">*</span>Mobile Number:</label>
                        <input placeholder="Enter Mobile Number" maxlength="10" minlength="10" type="text" ng-model="birthform.number">
                    </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        <span class="color-red f-bold f-left">*</span>Hospital Name:</label>
                    <input placeholder="Enter Name" type="text" ng-model="birthform.hsptlname">
                </div>

               

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        <span class="color-red f-bold f-left">*</span>Address:</label>
                    <textarea placeholder="Enter Description" type="text" ng-model="birthform.desc" style="height:100px;"></textarea>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
            <button id="cancel1" type="button" class="btn btn-danger" data-dismiss="modal"> 
                <a style="color:white" href="/projectLegal/#/">Cancel</a></button>
        </div>
    </form>
</div>



<div id="addAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Birth Deatils are Succesfully Saved</div>
            </div>
        </div>

    </div>
</div>

