
<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="row">
                    <button class="btn btn-info pull-right"><a href="#/viewLicenseRequest">View Requests</a></button>
                </div>-->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h3>License Request </h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <button class="btn btn-info pull-right"><a href="#/viewLicenseRequest">View Requests</a></button>
                </div>

            </div>

    </div>
</div>

<form role="form" class="licenseClass mtop21" name="myform"  ng-submit="createLicense()">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width:130%;">
            <div class="modal-header">
               <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title creatgri">Apply For New License </h4>
            </div>
            <div class="modal-body">
                <div class="cntinfor">
                    <h3>Type of License</h3>
                </div>
                <div class="entname">
                    <select ng-model="property.licType" class="form-control width50 d_inline">
                        <option value="" >Select Type of License</option>
                        <option value="Two wheeler" selected>Two Wheeler</option>
                        <option value="Four Wheeler">Four Wheeler</option>
                        <option value="shop">Shop</option>
                    </select>
                </div>
                <div class="grievanceinfor">
                    <h3>Personal Information</h3>
                </div>
                <div class="entname">
                    <div class="row">
                        <div class="col-lg-12 m-top10">
                            <input type="text" ng-model="property.citizenName" class="form-control width98" placeholder="Enter Name">
                        </div>
                        <div class="col-lg-6 m-top10">
                            <input type="text" ng-model="property.citizenMobNumber" class="form-control" placeholder="Enter Mobile Number">
                        </div>
                        <div class="col-lg-6 m-top10">
                            <input type="text" ng-model="property.citizenEmail" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="col-lg-6 m-top10">
                            <input type="text" format="%m-%d-%Y" ng-calendar ng-model="property.citizenDOB" class="form-control width95" placeholder="Enter Date of Birth">
                        </div>
                        <div class="col-lg-12 m-top10">
                            <input type="text" ng-model="property.citizenAddress"class="form-control width98" placeholder="Enter Address">
                        </div>

                        <div class="col-lg-12 m-top10  m-btm10">
                            <input type="text" ng-model="property.citizenZip" class="form-control width98" placeholder="Enter Zipcode">
                        </div>
                    </div>
                </div>
                <div class="grievanceinfor">
                    <h3>Documents of Proof</h3>
                </div>
                <div class="entname">
                    <div class="row">
                        <div class="col-lg-12 m-top12 m-btm10">
                            <div class="col-lg-8 ">
                                <input type="checkbox" ng-model="property.passport">&emsp; Passport &emsp;&emsp;&emsp;&emsp;&emsp;
                                <input type="checkbox" ng-model="property.aadhar">&emsp; Aadhar Card &emsp;&emsp;&emsp;&emsp;&emsp;
                                <button class="btn grievance_btn m-top10">Upload Document</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success mtop_mbtm10">submit</button>&emsp;
                <button class="btn btn-danger mtop_mbtm10">
                        <a style="color:white" href="/projectLegal/#/">Cancel</a></button>
            </div>
        </div>
    </div>
</form>



<div id="licenseRequest" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">License Deatils are Succesfully Saved</div>
            </div>
        </div>

    </div>
</div>




