<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ol class="breadcrumb nopadding">
                    <li class="breadcrumb-item"><a href="#/schemeManagement" lang="en">Home</a></li>
                    <li class="breadcrumb-item active" lang="en">Scheme Form</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="backbtnArea pull-right color-fff">
                    <div class="" id="content">
                        <div class="aside arrow">
                            <span class="glyphicon glyphicon-chevron-left"> </span>
                            <span class="backbtn" lang="en">Go Back</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span lang="en">Scheme Name</span> :
                    <span class="color-theme text-capitalize"> {{selectedSchemeDetails.name}}</span></h3>
                <h6 lang="en">Applying for<b class="text-capitalize"> - "{{selectedSchemeDetails.name}} "</b> </h6>
                <hr />
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <div class="schemeFormTitle">
                        <div class="schemeForm" lang="en">Scheme Form</div>
                            <form name="form1" id="form1" class="simple-form" ng-submit="schemeFormSubmit()">
                                <div class="row">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Name</label> :
                                        <input type="text" ng-model="citizen.name" data-toggle="tooltip" data-placement="top" title="Enter Name" placeholder="Enter Name" required  />
                                        <i class="fa fa-user user-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Email Id</label> :
                                       <!-- <input type="email" ng-model="citizen.emailId" placeholder="Enter Name" required />-->
                                        <input type="email" ng-model="citizen.emailId" placeholder="Enter Email" data-toggle="tooltip" data-placement="top" title="Enter Email Id" required />
                                        (NOTE: If you change Email id, Please Login/Register with the same 'Email Id' for tracking your Requests/Status.)
                                        <i class="fa fa-envelope user-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Mobile Number</label> :
                                        <!--<input type="text" minlength="10" maxlength="10" valid-number ng-model="citizen.mobileNumber" data-toggle="tooltip" data-placement="top" title="Enter Mobile Number" placeholder="Enter Mobile Number" required />-->
                                        <input placeholder="Enter Phone Number" valid-number ng-model="citizen.mobileNumber" pattern="[7-9]{1}[0-9]{9}"
                                               oninvalid="setCustomValidity('Please Enter Valid Mobile Number. It Should Start With 7-9 And Must Contain 10 Digits')"
                                               onchange="try{setCustomValidity('')}catch(e){}"
                                               type="text" required minlength="10" maxlength="10" name="price_field" data-toggle="tooltip" data-placement="top" title="Enter Mobile Number" />


                                        <i class="fa fa-phone-square user-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <button lang="en" class="btn btn-info" ngf-select="uploadFiles($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Please Attach the Requested Files</button>
                                        <div ng-show="fileUploadLists">
                                            <br />
                                            <h5 lang="en">Files : </h5>
                                            <hr />
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>File Name</th>
                                                        <th>File Size</th>
                                                        <th>Comment</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="f in files">
                                                        <td>
                                                            <a target="_blank" href="{{uploadURL}}{{f.id}}" class="color-text1"><h5>{{f.name}}</h5></a>
                                                        </td>
                                                        <td>{{f.size}}</a></td>
                                                        <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                        </td>
                                                        <td class="width20">
                                                            <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile($index, f.id)"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--<div class="color-red" ng-show="errorMssg">Please Wait.. Uploading the selected file.</div>-->
                                    </div>
                                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <br />
                                        <br />
                                        <button type="submit" class="btn btn-success m-right5" value="Apply" lang="en"  ng-disabled="disable"> Apply </button>
                                        <button type="button" ng-click="reset()" class="btn btn-info m-right5" lang="en">Reset</button>
                                        <a href="#/schemeManagement" class="btn btn-danger" lang="en">Cancel</a>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>