<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeMain">
                    <h4 class="color-theme text-uppercase text-center schemeTitle" lang="en">
                         View Birth Requests
                        <span class="pull-right" style="cursor:pointer;"><a href="#/birthForm">Go Back</a></span>
                    </h4>


                    <!--<hr class="type1"/>-->
                    <div class="table-responsive">
                        <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                            <thead>
                            <tr>
                                <th class="width70" lang="en">Name</th>
                                <th class="width70" lang="en">Hospital</th>
                                <th class="width70" lang="en">DOB</th>
                                <th class="width70" lang="en">Mobile</th>
                                <th class="width70" lang="en">Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="birth in viewBirthDetails">
                                <td>{{birth.name}}</td>
                                <td>{{birth.desc}}</td>
                                <td>{{birth.dob}}</td>
                                <td>{{birth.number}}</td>
                                <td>{{birth.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>