<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <form class="simple-form" ng-submit="createRequest()">
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3  lang="en"><span class="color-theme" lang="en">Application Form</span></h3>
                                <hr />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Title:</label>
                                <input type="text" class="form-control" ng-model="request.title" placeholder="Enter Name" required minlength="3" maxlength="35" " />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Applicant Type:</label>
                                <select ng-model="request.requested" >
                                    <option value="">Select Type</option>
                                    <option value="Individual">Individual</option>
                                    <option value="Community">Community</option>
                                    <option value="Association">Association</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Association/Community ID:</label>
                                <input type="text" class="form-control" ng-model="request.association" placeholder="Enter Name" maxlength="40"/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Applicant Name:</label>
                                <input type="text" class="form-control" ng-model="request.personName" required placeholder="Enter Name" minlength="3" maxlength="40"/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label> <span class="color-red f-bold f-left">*</span>Applicant Email:</label>
                                <input type="text" class="form-control" ng-model="request.email" placeholder="Enter Email" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Mobile Number</label>
                                <input type="text" class="form-control" ng-model="request.mobile"required minlength="10" maxlength="11" placeholder="Enter Mobile Number" />
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Application Details:</label>
                                <textarea type="text" rows="5" class="form-control" ng-model="request.description" placeholder="More details about request"></textarea>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Upload Relevant Froms</label>
                                <button class="btn btn-success" ngf-select="uploadFiles($files)" multiple accept="*">Upload files</button>
                                <br>
                                <br><div class="" ng-show="fileUpload">Upload Files:
                                <table class="table" >
                                    <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Comment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="f in docList">
                                        <td> {{f.name}}</td>
                                        <td>      <textarea rows="1" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                                <button type="reset" class="btn btn-success btn-lg">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="successRequest" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>-->
            <div class="modal-body">
                <div class="text-center">Successfully Submitted your Request</div>
                <button calss="btn btn-success" ng-click="applyNewRequest()">Apply New Request</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>

    </div>
</div>