<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="color-theme text-uppercase text-center" lang="en">
                    Download Forms
                </h4>
                <hr class="type1"/>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="scheme" lang="en">Scheme Name</th>
                                <th class="form" lang="en">Form Name</th>
                                <th class="download" lang="en">Download Form</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="schemeInfo in schemeLists">
                                <td class="class200">{{schemeInfo.name}}</td>
                               <!-- <td>{{schemeInfo.name}}</td>-->
                                <!--<td>{{schemeInfo.name}}</td>-->
                                <td class="text-left">
                                    <div ng-repeat="schemeInf in schemeInfo.forms">
                                        {{schemeInf.name}}
                                    </div>
                                </td>
                                <td class="text-left">
                                    <div ng-repeat="schemeInf in schemeInfo.forms">
                                        <a target="_blank" href="{{updatedFiles}}{{schemeInf.id}}">{{schemeInf.name}}</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
</div>