<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
                <div class="schemeMain">
                    <!--<h4 class="color-theme text-uppercase text-center">
                        <span class="glyphicon glyphicon-hand-right"> </span>
                        Login
                    </h4>
                    <hr />-->
                    <br/>
                    <br/>
                    <div class="text-center color-red f-bold errorMsg text-center" ng-show="showLoginError">{{loginError}}</div>
                    <div class="schemeFormTitle">
                        <div class="schemeForm text-center" lang="en">Login</div>
                        <form name="form1" id="form1" ng-submit="loginSubmit()">
                            <div class="form-group text-center color-red" ng-show="errorMessage">{{errorMessageDetails}}<hr class="m-tb10"/>
                            </div>
                            <div class="form-group">
                                <label lang="en"><span class="color-red f-bold f-left">*</span> Email Id</label>:
                                <input type="email" tabindex="1" ng-model="customerlogin.email" data-toggle="tooltip" data-placement="top" title="Enter Your Email Id" required class="form-control red-tooltiptbm" title="Enter Your Email Id" placeholder="Enter Your Email Id" value="" autocomplete="off"/>
                                <i class="fa fa-envelope login-icon" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <label lang="en"><span class="color-red f-bold f-left">*</span> Password</label>:
                                <input type="password" ng-model="customerlogin.password" data-toggle="tooltip" data-placement="top" title="Enter Password" tabindex="1" minlength="4" class="form-control red-tooltiptbm" title="Enter Password" placeholder="Enter Password" value="" data-placement="top" required autocomplete="off"/>
                                <i class="fa fa-key login-icon" aria-hidden="true"></i>
                            </div>
                            <div>
                                <div class="text-center form-group">
                                    <button type="Submit" class="btn btn-success width120" lang="en">
                                        Login
                                    </button>
                                </div>
                                <div class="clearfix visible-block"></div>
                                <div class="pull-left">
                                    <a class="color-theme" ng-click="createCitizenDataModal()" lang="en">New Registration </a>
                                </div>
                                <div class="pull-right">
                                    <a class="color-theme" data-toggle="modal" data-target="#forgotPassword" lang="en">Forgot Password</a>?
                                </div>
                                <div class="clearfix visible-block"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="createCitizenData" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">New Registration</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="createCitizen()">
                <div class="modal-body">
                    <div class="form-group text-center color-red" ng-show="errorInRegisterMessage">{{errorInRegisterDetails}} <hr />
                    </div>
                    <div class="schemForms row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Name</label>:
                            <input placeholder="Enter Name" type="text" ng-calendar ng-model="addcitizen.name" data-toggle="tooltip" data-placement="top" title="Enter Name" required maxlength="30" minlength="3">
                            <i class="fa fa-user userreg-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Email Id</label>:
                            <input placeholder="Enter Email Id" type="email" ng-model="addcitizen.email"  data-toggle="tooltip" data-placement="top" title="Enter Email Id" required>
                            <i class="fa fa-envelope signin-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Mobile Number</label>:
                            <!--<input placeholder="Enter Mobile Number" ng-model="addcitizen.phone" valid-number type="text" minlength="10" maxlength="10" data-toggle="tooltip" data-placement="top" title="Enter Mobile Number" required >-->
                            <input placeholder="Enter Phone Number" valid-number ng-model="addcitizen.phone" pattern="[7-9]{1}[0-9]{9}"
                                   oninvalid="setCustomValidity('Please Enter Valid Mobile Number. It Should Start With 7-9 And Must Contain 10 Digits')"
                                   onchange="try{setCustomValidity('')}catch(e){}"
                                   type="text" required minlength="10" maxlength="10" name="price_field" data-toggle="tooltip" data-placement="top" title="Enter Phone Number" />


                            <i class="fa fa-phone-square signin-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Father/Mother/Guardian Name</label>:
                            <input placeholder="Father Name" type="text" ng-calendar ng-model="addcitizen.fathername" data-toggle="tooltip" data-placement="top" title="Enter Father/Mother/Guardian Name" required maxlength="30" minlength="3">
                            <i class="fa fa-user signin-icon" aria-hidden="true"></i>
                        </div>
                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Mother Name</label>:
                            <input placeholder="Mother Name" type="text" ng-calendar ng-model="addcitizen.mothername" data-toggle="tooltip" data-placement="top" title="Enter Mother Name" required maxlength="30" minlength="3">
                            <i class="fa fa-user signin-icon" aria-hidden="true"></i>
                        </div>-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Ward Number</label>:
                            <input placeholder="Enter Ward Number" type="text" ng-calendar ng-model="addcitizen.wardNumber" data-toggle="tooltip" data-placement="top" title="Enter Ward Number" required rows="4">
                            <i class="fa fa-map-marker signin-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Address</label>:
                            <textarea placeholder="Enter Address" type="text" ng-calendar ng-model="addcitizen.addressdetails" data-toggle="tooltip" data-placement="top" title="Enter Address" required rows="4" style="resize: none">
                            </textarea>
                            <i class="fa fa-map-marker address-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Password</label>:
                            <input placeholder="Enter Password" ng-model="addcitizen.password" type="password" minlength="4" data-toggle="tooltip" data-placement="top" title="Enter Password" maxlength="20" required >
                            <i class="fa fa-key signin-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Confirm Password</label>:
                            <input placeholder="Confirm Password" ng-model="addcitizen.confirmPassword" minlength="4" data-toggle="tooltip" data-placement="top" title="Confirm Password should be &nbsp;&nbsp;&nbsp;&nbsp; match with Password" maxlength="20" type="password"  required>
                            <i class="fa fa-key signin-icon" aria-hidden="true"></i>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-danger" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="forgotPassword" user="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Forgot Password</h4>
                <!--<h5 class="modal-title" ng-show="notRegisterd">{{notRegisterd}}</h5>
                <h5 class="modal-title" ng-show="sucessData">{{sucessData}}</h5>-->
            </div>
            <form class="simple-form"  ng-submit="forgotPassword(email)">
                <div class="modal-body">
                    <div class=" errorMsg text-center" ng-show="message">{{message}}</div>
                    <div class=" errorMsg text-center" ng-show="successMessage">{{successMessage}}</div>
                    <div>
                        <div class=" text-center color-red f-bold" ></div>
                        <div class="form-group" align="left">
                            <label for="email" lang="en"> <span class="color-red f-bold f-left">*</span> Email Id</label>:
                            <input type="text" class="form-control" id="email"  ng-model="email" placeholder="Enter Email" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                            <i class="fa fa-envelope signin-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" value="Submit" lang="en">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="registerSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMesaage" lang="en">Successfully Registered.</div>
            </div>
            <div class="modal-footer">
                <button ng-click="registerSuccessModal()" class="btn btn-success width120">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="changePSWSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMesaage" lang="en">{{successMessage}}</div>
            </div>
        </div>
    </div>
</div>