<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeMain">
                    <h4 class="color-theme text-uppercase text-center schemeTitle" lang="en">
                         Schemes
                    </h4>
                    <!--<hr class="type1"/>-->
                    <div class="table-responsive">
                        <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                            <thead>
                            <tr>
                                <th class="width200" lang="en">Name</th>
                                <th class="width70" lang="en">Type</th>
                                <th class="width200" lang="en">Description</th>
                                <th class="width150" lang="en">Beneficiaries</th>
                                <th class="width70" lang="en">Apply</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="schemes in schemeLists">
                                <td><a class="color-theme cursorPointer text-capitalize" href="#/schemeDetails/{{schemes.id}}">{{schemes.name}}</a></td>
                                <td class="text-capitalize">{{schemes.category}}</td>
                                <td>{{schemes.description | limitTo:120}}...
                                    <br /><br /><a class="color-theme cursorPointer text-capitalize" href="#/schemeDetails/{{schemes.id}}">View Details </a>
                                </td>
                                <td>
                                    <ul class="nopadding listNone benfRepeat">
                                        <li ng-repeat="binef in schemes.bineficiaries">
                                            {{binef.label}}<span>, </span>
                                        </li>
                                    </ul>
                                </td>
                                <td><button class="btn btn-success" ng-click="schemeForms(schemes)" lang="en">Apply</button></td>
                                <!--<td>
                                    <a class="btn btn-primary" href="#/schemeDetails/{{schemes.id}}">{{schemes.name}}</a>
                                </td>-->
                                <!--<td>{{schemes.description}}</td>-->
                                <!--<td>{{schemes.beneficiaries}}</td>
                                <td><button class="btn btn-success" ng-click="schemeForms(filterSchemeLists)">Apply</button></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>