<div class="container">
    <div class="contentStart">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> User Profile</div>

                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6  col-sm-offset-2 col-sm-8 col-xs-12"  >
                <div class="table-responsive" >
                    <div class="projectMain m-top20 m-btm20">
                        <div class="projectTile" lang="en">Personal Information</div>

                        <table id="userProfileTable" class="table nopadding" >
                            <tbody>
                            <tr>
                                <th class="width120 tittle1" lang="en">Name</th>
                                <td class="width20 colonTd">:</td>
                                <td class="tableContent text-capitalize">{{userInfo.name}}</td>
                            </tr>
                            <tr>
                                <th class="width120 tittle1" lang="en">Mobile Number</th>
                                <td class="width20 colonTd">:</td>
                                <td class="tableContent">{{userInfo.phone}}</td>
                            </tr>
                            <tr>
                                <th class="width120 tittle1" lang="en">Email Id</th>
                                <td class="width20 colonTd">:</td>
                                <td class="tableContent">{{userInfo.email}}</td>
                            </tr>
                            <tr>
                                <th class="width120 tittle1"  lang="en">Father/Mother/Guardian Name</th>
                                <td class="width20 colonTd">:</td>
                                <td class="tableContent text-capitalize">{{userInfo.fathername}}</td>
                            </tr>
                            <tr>
                                <th class="width120 tittle1"  lang="en">Ward Number</th>
                                <td class="width20 colonTd">:</td>
                                <td class="tableContent text-capitalize">{{userInfo.wardNumber}}</td>
                            </tr>
                            <tr>
                                <th  class="width120 tittle1" lang="en">Address</th>
                                <td class="width20 colonTd">:</td>
                                <td class="tableContent text-capitalize text-justify">{{userInfo.addressdetails}}</td>
                            </tr>
                            <tr>
                                <td class="width120 tittle1" >
                                    <button class="btn btn-primary" data-target="#changePassword" data-toggle="modal">
                                        <span class="glyphicon glyphicon-lock"></span> Change Password</button>
                                </td>
                                <td class="width20 colonTd"></td>
                                <td class="tableContent">
                                    <button class="btn btn-primary" ng-click="editName(userInfo)">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit User Profile
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="editName" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit User Profile</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editProfileSubmit()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Name:</label>
                            <input placeholder="Enter Name" type="text" ng-calendar  data-toggle="tooltip" data-placement="top" title="Enter Name" ng-model="editNameData.name" required maxlength="30" minlength="3">
                            <i class="fa fa-user userreg-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Father/Mother/Guardian Name:</label>
                            <input placeholder="Father Name" type="text" ng-calendar ng-model="editNameData.fathername" data-toggle="tooltip" data-placement="top" title="Enter Father Name" required maxlength="30" minlength="3">
                            <i class="fa fa-user signin-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Email ID:</label>
                            <input placeholder="Enter Email ID" type="email" ng-model="editNameData.email" readonly />
                            <i class="fa fa-envelope signin-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Mobile Number:</label>
                            <!--<input placeholder="Enter Mobile Number" ng-model="editNameData.phone" valid-number type="text"  data-toggle="tooltip" data-placement="top" title="Enter Mobile Number" required minlength="9" maxlength="10" >-->
                            <input placeholder="Enter Phone Number" valid-number ng-model="editNameData.phone" pattern="[7-9]{1}[0-9]{9}"
                                   oninvalid="setCustomValidity('Please Enter Valid Mobile Number. It Should Start With 7-9 And Must Contain 10 Digits')"
                                   onchange="try{setCustomValidity('')}catch(e){}"
                                   type="text" required minlength="10" maxlength="10" name="price_field" data-toggle="tooltip" data-placement="top" title="Enter Phone Number" />


                            <i class="fa fa-phone-square signin-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Ward Number</label>:
                            <input placeholder="Enter Ward Number" type="text" ng-model="editNameData.wardNumber" data-toggle="tooltip" data-placement="top" title="Enter Ward Number" required rows="4">
                            <i class="fa fa-map-marker signin-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Address:</label>
                            <textarea placeholder="Enter Address" type="text" ng-model="editNameData.addressdetails" data-toggle="tooltip" data-placement="top" title="Enter Address" required rows="4" style="resize: none">
                            </textarea>
                            <i class="fa fa-map-marker address-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <!--<button type="reset" class="btn btn-info" lang="en">Reset</button>-->
                    <button id="cancel1" type="button" class="btn btn-danger" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="changePassword" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Change Password</h4>
            </div>
            <form role="form" class="" name="myform" id="changePasswordForm" class="adminContent" ng-submit="changePasswordSubmit()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center" ng-show="errorMessage">
                            {{passwordError1}}
                            <hr class="m-tb10"/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span> Current Password :</label>
                            <input type="password" id="password" ng-model="user.password" class="form-control b-radius10"  data-toggle="tooltip" data-placement="top" title="Enter Current Password" minlength="6" placeholder="Enter Your current Password" required/>
                            <i class="fa fa-key key-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span> New Password :</label>
                            <input type="password" class="form-control b-radius10" id="pswd" ng-model="user.newPassword"  data-toggle="tooltip" data-placement="top" title="Enter New Password" minlength="6" placeholder="New Password" required/>
                            <i class="fa fa-key key-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span> Re-type New Password :</label>
                            <input type="password" class="form-control b-radius10" id="pswd1" ng-model="password"  data-toggle="tooltip" data-placement="top" title="Re-type New Password" minlength="6" placeholder="Confirm Password" required/>
                            <i class="fa fa-key key-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button id="cancel" type="button" class="btn btn-danger" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="changePasswordSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <div class="modal-body textStyle1">
                   {{passwordError}}
                </div>
        </div>
    </div>
</div>
<div id="editProfileSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body color-green text-center">
                <div class="sMessage">Successfully User Profile is Updated.....</div>
            </div>
        </div>
    </div>
</div>

