<div  ng-if="viewRequestDivBack" class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Application Requests</span></li>
                <li class="breadcrumb-item active"><span lang="en">Requests</span></li>
            </ol> -->
        </div>
    </div>
</div>
<div  ng-if="viewRequestDiv" class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Application Requests</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-default pull-right" ng-click="exportToExcel('#applicationRequests')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-default pull-right m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="applicationRequests" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Requests</div>
                <hr />
            </div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div>
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" id="table2">
                            <thead>
                         <!--   <th lang="en">Application Id</th>-->
                            <th lang="en">Title</th>
                            <th lang="en">Requested</th>
                            <th lang="en">Person Name</th>
                            <th lang="en">Request Status</th>
                          <!--  <th lang="en">Approval Status</th>-->
                          <!--  <th lang="en">View More</th>-->
                            <th lang="en">Action</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="request in requestLists">
                             <!--   <td>{{request.applicationId}}</td>-->
                                <td>{{request.title}}</td>
                                <td>{{request.requested}}</td>
                                <td>{{request.personName}}</td>
                                <td>{{request.status}}</td>
                                <td class="text-capitalize">
                                    <button class="btn btn-primary" ng-click="editAssetType(request)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                              <!--  <td>{{request.acceptStatus}}</td>-->
                                <!--<td class="width150"><a class="btn btn-primary" ng-click="viewStatus(request.id)">
                                    <span class="glyphicon glyphicon-th-large"></span></a></td>
                                <td class="width150"><button class="btn btn-info" ng-click="changeStatus(request.id)" lang="en">
                                    <span lang="en">Change Status</span></button></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
  <!--  <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span><span lang="en"> Requests </span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-default pull-right" ng-click="exportToExcel('#requestExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            &lt;!&ndash;  <button class="btn btn-default pull-right m-right5">
                                  <span class="glyphicon glyphicon-print"></span> Print
                              </button>&ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <table id="requestExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div>
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                            <thead>
                            <th lang="en">Request Id</th>
                            <th lang="en">Created Time</th>
                            <th lang="en">Scheme Name</th>
                            <th lang="en">Applicant Name</th>
                            <th lang="en">Applicant Status</th>
                            <th lang="en">Approval Status</th>
                            <th lang="en">View More</th>
                            <th lang="en">Action</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="request in requestLists">
                                <td>{{request.requestId}}</td>
                                <td class="text-left">{{request.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                                <td>{{request.schemeName}}</td>
                                <td>{{request.name}}</td>
                                <td>{{request.requestStatus}}</td>
                                <td>{{request.acceptStatus}}</td>
                                <td class="width150"><a class="btn btn-primary" ng-click="viewStatus(request.id)">
                                    <span class="glyphicon glyphicon-th-large"></span></a></td>
                                <td class="width150"><button class="btn btn-info" ng-click="changeStatus(request.id)" lang="en">
                                    <span lang="en">Change Status</span></button></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash;</div>&ndash;&gt;
    </div>-->
</div>


<div ng-if="editRequestDivBack" class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Application Requests</span></li>
                <li class="breadcrumb-item active"><span lang="en">Change Request Status</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="" ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div ng-if="editRequestDiv" class="adminContent" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> View Request Status</div>
                <hr />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Request Details</div>
                    <div class="table-responsive">

                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td class="text-left width160"><b>Application Id</b></td>
                                <td class="width20">:</td>
                                <td class="text-left" colspan="4">{{editRequestDetails.applicationId}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Issue Name/ Title</b></td>
                                <td class="width20">:</td>
                                <td class="text-left" colspan="4">{{editRequestDetails.title}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Requested By</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{editRequestDetails.requested}}</td>
                                <td class="text-left width160"><b>Association/Community ID</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{editRequestDetails.association}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Applicant name </b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{editRequestDetails.personName}}</td>
                                <td class="text-left width160"><b>Email ID</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{editRequestDetails.email}}</td>
                            </tr>

                            <tr>
                                <td class="text-left width160"><b>Mobile Number</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{editRequestDetails.mobile}}</td>
                                <td class="text-left width160"><b>Created Time</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{editRequestDetails.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Application Details</b></td>
                                <td class="width20">:</td>
                                <td class="text-left" colspan="4">{{editRequestDetails.description}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Uploaded Files</b></td>
                                <td class="width20">:</td>
                                <td class="text-left" colspan="4">
                                    <div ng-repeat="request in editRequestDetails.file">
                                        <a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Approval Information  </div>
                    <table class="table table-bordered nopadding">
                        <tr>
                            <th lang="en">Workflow  Id</th>
                            <th lang="en">Level  No</th>
                            <th lang="en">Level  Id</th>
                            <th lang="en">Approval Person</th>
                            <th lang="en">Status</th>
                            <th lang="en">Comment</th>
                        </tr>
                        <tr  ng-repeat="work in editRequestDetails.workflow">
                            <td>{{work.workflowId}}</td>
                            <td>{{work.levelNo}}</td>
                            <td>{{work.levelId}}</td>
                            <td>{{work.employeeName}}</td>
                            <td>{{work.requestStatus}}</td>
                            <td>{{work.comment}}</td>

                        </tr>
                    </table>
                </div>

                <div class="schemForms" ng-if="editRequestDetails.editStatus">
                    <div class="form-group">
                        <label lang="en">Comment:</label>
                        <textarea rows="5" ng-model="editRequestDetails.comment" placeholder="Enter Comment" required>{{editRequestDetails.comment}}</textarea>
                    </div>
                </div>

                <button class="btn btn-success" ng-if="editRequestDetails.editStatus" ng-click="acceptStatus(editRequestDetails)"><span lang="en">Approval</span></button>
                <button class="btn btn-danger" ng-if="editRequestDetails.editStatus" ng-click="rejectStatus(editRequestDetails)"><span lang="en">Reject</span></button>
                <a class="btn btn-info" ng-if="editRequestDetails.editStatus"  href="#/projectRequests"> <span lang="en">Cancel</span></a>

                <!--   <button class="btn btn-lg" ng-click="clickBack()">Cancel</button>-->
                <!--<button class="btn btn-success btn-lg">Submit</button>-->
            </div>
        </div>
    </div>
</div>

<div ng-if="requestDivBack" class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><a ng-click="clickToBack()"><span lang="en">Request</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Change Request Status</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="" ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div ng-if="requestDiv" class="adminContent" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> View Request Status</div>
                <hr />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Request Details</div>
                    <div class="table-responsive">

                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td class="text-left width160"><b>Application Id</b></td>
                                <td class="width20">:</td>
                                <td class="text-left" colspan="4">{{viewRequestDetails.applicationId}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Issue Name/ Title</b></td>
                                <td class="width20">:</td>
                                <td class="text-left" colspan="4">{{viewRequestDetails.title}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Requested By</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{viewRequestDetails.requested}}</td>
                                <td class="text-left width160"><b>Association/Community ID</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{viewRequestDetails.association}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Applicant name </b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{viewRequestDetails.personName}}</td>
                                <td class="text-left width160"><b>Email ID</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{viewRequestDetails.email}}</td>
                            </tr>

                            <tr>
                                <td class="text-left width160"><b>Mobile Number</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{viewRequestDetails.mobile}}</td>
                                <td class="text-left width160"><b>Created Time</b></td>
                                <td class="width20">:</td>
                                <td class="text-left">{{viewRequestDetails.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Application Details</b></td>
                                <td class="width20">:</td>
                                <td class="text-left" colspan="4">{{viewRequestDetails.description}}</td>
                            </tr>
                            <tr>
                                <td class="text-left width160"><b>Uploaded Files</b></td>
                                <td class="width20">:</td>
                                <td class="text-left" colspan="4">
                                    <div ng-repeat="request in viewRequestDetails.file">
                                        <a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Approval Information  </div>
                    <table class="table table-bordered nopadding">
                        <tr>
                            <th lang="en">Workflow  Id</th>
                            <th lang="en">Level  No</th>
                            <th lang="en">Level  Id</th>
                            <th lang="en">Approval Person</th>
                            <th lang="en">Status</th>
                            <th lang="en">Comment</th>
                        </tr>
                        <tr  ng-repeat="work in viewRequestDetails.workflow">
                            <td>{{work.workflowId}}</td>
                            <td>{{work.levelNo}}</td>
                            <td>{{work.levelId}}</td>
                            <td>{{work.employeeName}}</td>
                            <td>{{work.requestStatus}}</td>
                            <td>{{work.comment}}</td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="acceptStatus" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Accepted the Request.</div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="acceptStatusModal()" class="btn btn-success width120" lang="en">OK</button>
        </div>
    </div>
</div>
<div id="rejectStatus" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">
                    <h4 lang="en">Rejected the Scheme Request</h4>
                    <hr class="m-tb10" />
                    <div><b class="color-theme1" lang="en">Application Id: </b><b class="">{{requestLists.applicationId}}</b></div>
                    <div class="m-tb10"><b class="color-theme1" lang="en">Issue Name/Title: </b> <b class=" ">{{requestLists.title}}</b></div>
                    <div><b class="color-theme1" lang="en">Requested By: </b> <b class="">{{requestLists.requested}}</b></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="rejectStatusModal()" class="btn btn-success width120" lang="en">OK</button>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>

<div id="editAssetTypeModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Edit Request</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssetRiskGroupButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Request</span>:</label>
                            <input type="text" placeholder="Enter Asset Group Name" class="form-control" ng-model="editAssetTypeData.requested" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="editAssetTypeData.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" selected>Select Status</option>
                                <option value="NEW">New</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{editAssetTypeData.requested}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>