<div class="breadcrumbArea">
    <div class="row">
        <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
             <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                 <li class="breadcrumb-item active"><span lang="en">Land And Asset</span></li>
                 <li class="breadcrumb-item active"><span lang="en">Asset Group</span></li>
             </ol>
         </div>-->
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">


        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Assessment Requests</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                            <!--<button class="btn btn-default m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#assetGroup')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <!-- <button class="btn btn-success pull-right" data-toggle="modal" ng-click="removeMessaageInAdd()" data-target="#addAssetType"><span lang="en">Add Asset Group</span></button>-->
                        </div>

                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="assetGroup" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Applicant's Name</th>
                            <th lang="en">Mobile Number</th>
                            <th lang="en">Locality</th>
                            <th lang="en">Area of sqft</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="asssetType in assetTypeList">

                            <td class="text-capitalize">{{asssetType.name}}</td>
                            <td class="text-capitalize">{{asssetType.phone}}</td>
                            <td class="text-capitalize">{{asssetType.locality}}</td>
                            <td class="text-capitalize">{{asssetType.areaOfPlotInSqft}}</td>
                            <td class="text-capitalize">
                                <button class="btn btn-primary" ng-click="editAssetType(asssetType)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addAssetType" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Add Asset Group</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="addAssetRiskGroupData()">
                <div class="row schemForms">

                    <div class="modal-body">

                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Asset Group</span>:</label>
                            <input type="text" placeholder="Enter Asset Group Name" class="form-control" ng-model="assetType.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="assetType.status" data-style="btn-primary" data-placement="Select status" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editAssetTypeModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Edit Assessment Request</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssetRiskGroupButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Applicant's Name</span>:</label>
                                <input type="text" placeholder="Enter Applicant's Name" class="form-control" ng-model="editAssetTypeData.name" required disabled/>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                               <!-- <label><span class="color-red">*</span><span lang="en">Assessed Value</span>:</label>
                                <input type="text" placeholder="Enter Asset Group Name" class="form-control" ng-model="editAssetTypeData.assessedValue" required />-->
                                <label><span class="color-red">*</span><span lang="en">Service Request Number</span>:</label>
                                <input type="text" ng-model="editAssetTypeData.serviceNumber" class="form-control width95" disabled placeholder="Service Request No.">
                            </div>

                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Zone</span>:</label>
                                <select disabled ng-model="editAssetTypeData.zone" class="form-control width95" placeholder="Zone">
                                    <option value="" selected>Select Zone</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Ward</span>:</label>
                                <select disabled ng-model="editAssetTypeData.ward" class="form-control width95" placeholder="Zone">
                                    <option value="" selected>Select Ward</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Property Group</span>:</label>
                                <select disabled ng-model="editAssetTypeData.propertyGroup" class="form-control width95" placeholder="Zone">
                                    <option value="" selected>Select Property Group</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Property Sub Group</span>:</label>
                                <select disabled ng-model="editAssetTypeData.propertySubGroup" class="form-control width95" placeholder="Zone">
                                    <option value="" selected>Select Property Sub Group</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Owner's Name</span>:</label>
                                <input disabled type="text" placeholder="Enter Owner's Name" class="form-control" ng-model="editAssetTypeData.ownerName" required />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Phone Number</span>:</label>
                                <input type="text" ng-model="editAssetTypeData.phone" class="form-control width95" placeholder="Enter Phone Number.">
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Email</span>:</label>
                                <input disabled type="text" placeholder="Enter Email" class="form-control" ng-model="editAssetTypeData.email" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Build Approval Number</span>:</label>
                                <input disabled type="text" ng-model="editAssetTypeData.approvalNumber" class="form-control width95" placeholder="Build Approval No.">
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Build Approval Date</span>:</label>
                                <input disabled type="text" ng-model="editAssetTypeData.approvalDate" ng-calendar class="form-control width95" placeholder="Build Approval Date.">
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Area</span>:</label>
                                <select disabled ng-model="editAssetTypeData.area" class="form-control width95">
                                    <option value="" selected>Select Area</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Locality</span>:</label>
                                <select disabled ng-model="editAssetTypeData.locality" class="form-control width95">
                                    <option value="" selected>Select Locality</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Street Ward</span>:</label>
                                <select disabled ng-model="editAssetTypeData.streetWard" class="form-control width95">
                                    <option value="" selected>Select Street Ward</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Street Name</span>:</label>
                                <select disabled ng-model="editAssetTypeData.streetName" class="form-control width95" placeholder="Zone">
                                    <option value="" selected>Select Street Name</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Door Number</span>:</label>
                                <input disabled type="text" placeholder="Enter Door Number" class="form-control" ng-model="editAssetTypeData.doorNo" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Address</span>:</label>
                                <input disabled type="text" ng-model="editAssetTypeData.address" class="form-control width95" placeholder="Select Address.">
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Pin Code</span>:</label>
                                <input disabled type="text" ng-model="editAssetTypeData.pinCode" class="form-control width95" placeholder="PIN No.">
                            </div>

                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Property Type</span>:</label>
                                <select disabled ng-model="editAssetTypeData.propertyType" class="form-control width95">
                                    <option value="" selected>Choose Property Type</option>
                                    <option value="residential flat">Residential Flat</option>
                                    <option value="commercial building">Commercial Building</option>
                                    <option value="open land">Open Land</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Area of Plot in sqft</span>:</label>
                                <input disabled type="text" placeholder="Area of Plot in sqft" class="form-control" ng-model="editAssetTypeData.areaOfPlotInSqft" required />

                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Share of Land in sqft</span>:</label>
                                <input disabled type="text" placeholder="Share of Land in sqft" class="form-control" ng-model="editAssetTypeData.landInSqft" required />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Owner of the land</span>:</label>
                                <input disabled type="text" placeholder="Owner of the land" class="form-control" ng-model="editAssetTypeData.landOwnerName" required />
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Floor Number</span>:</label>
                                <select disabled ng-model="editAssetTypeData.floorNumber" class="form-control width95" placeholder="Zone">
                                        <option value="" selected>Choose Floor Number</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Built up area in sq.feet</span>:</label>
                                <input disabled type="text" placeholder="Built up area in sq.feet" class="form-control" ng-model="editAssetTypeData.builtAreaInSqft" required />

                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Usage</span>:</label>
                                <select disabled ng-model="editAssetTypeData.usage" class="form-control width95" placeholder="Zone">
                                    <option value="" selected>Choose Usage</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Occupancy</span>:</label>
                                <select disabled ng-model="editAssetTypeData.occupancy" class="form-control width95" placeholder="Zone">
                                    <option value="" selected>Choose Occupancy</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Type of Construction</span>:</label>
                                <select disabled ng-model="editAssetTypeData.constructionType" class="form-control width95" placeholder="Zone">
                                    <option value="" selected>Choose Type of Construction</option>
                                    <option value="test">Active</option>
                                    <option value="test1">In Active</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Year of Construction</span>:</label>
                                <input disabled ng-model="editAssetTypeData.yearOfConstruction" type="text" class="form-control" placeholder="Year of Construction">
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Date of Completion/Occupation (DD/MM/YYYY)</span>:</label>
                                <input disabled type="text" placeholder="Enter Date of Completion" ng-calendar class="form-control" ng-model="editAssetTypeData.dateOfCompletion" required />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Demand Effective Installment</span>:</label>
                                <input disabled type="text" placeholder="Demand Effective Installment" class="form-control" ng-model="editAssetTypeData.demandInstallment" required />
                            </div>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red">*</span><span lang="en">Comments</span>:</label>
                                <input disabled type="text" placeholder="Comment here" class="form-control" ng-model="editAssetTypeData.comment" required />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                             <label><span class="color-red">*</span><span lang="en">Assessed Value</span>:</label>
                                <input type="text" placeholder="Enter Assessed Value" class="form-control" ng-model="editAssetTypeData.assessedValue" required />
                            </div>
                        </div>

                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="editAssetTypeData.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="NEW" selected>New</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Closed">Closed</option>
                            </select>
                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{assetType.name}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{editAssetTypeData.name}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>
