<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en"> Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Type</span></li>
            </ol> -->
        </div>
    </div>
</div>



<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Case Type</div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Acts</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.caseTypeedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="caseTypeClick()" lang="en">Create Case Type
                            </button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#caseType')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="caseType" ng-show="hideDetails" class="table table-bordered table-striped"></table>

        <div class="table-responsive">
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th class="caseType" custom-sort order="'caseType'" sort="sort" lang="en">Case Type&nbsp;</th>
                    <th class="caseNumber" custom-sort order="'caseNumber'" sort="sort" lang="en">Case Type Description&nbsp;</th>
                    <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.caseTypeedit"><span lang="en"> Action&nbsp;</span></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="caseTypeInfo in caseTypeData track by $index">
                    <td class="text-capitalize">{{caseTypeInfo.caseType}}</td>
                    <td class="text-capitalize">{{caseTypeInfo.caseNumber}}</td>
                    <!--<td>{{caseTypeInfo.caseType}}</td>-->
                    <!--<td>{{caseTypeInfo.caseNumber}}</td>-->
                    <td ng-if="roleLogin.courtInfoedit">
                        <button class="btn btn-primary"
                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                data-target="#caseTypeEdit" ng-click="editCasePopup(caseTypeInfo)"> <span class="glyphicon glyphicon-pencil"></span></button>
                        <!--<button class="btn btn-danger" data-toggle="modal"-->
                                <!--data-target="#caseTypeDelete"-->
                                <!--ng-click="deleteCasePopup(caseTypeInfo)"><span class="glyphicon glyphicon-trash"></span></button>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>



<div class="modal fade" id="CreateCaseTypeModal" data-backdrop="static" data-keyboard="false"  case="dialog" >
    <div class="modal-dialog">
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Case Type</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="caseTYpeCreationError">
                        {{createCaseTypeError}}
                        <hr class="m-tb10" />
                    </div>
                    <form class="simple-form" ng-submit="createCaseType(case)">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="caseType" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Case Type</span>:</label>
                            <input type="caseType" class="form-control"
                                   id="caseType11" ng-model="case.caseType"
                                   placeholder="Enter Case Type"  maxlength="30"
                                   title="Enter Case Type" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="caseTypeDescription" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Case Type Description</span>:</label>
                            <input type="text" class="form-control"
                                   id="caseTypeDescription" ng-model="case.caseNumber"
                                   placeholder="Enter Case Type Description"
                                   title="Enter Case Type Description" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off"  />
                        </div>

                        <input id="createCaseType" class="btn btn-success" type="submit" value="Submit"/>
                        <!--<button type="submit" class="btn btn-success">Submit</button>-->
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="caseTypeEdit" data-backdrop="static" data-keyboard="false" case="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Case Type</h4>
            </div>

            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="caseTYpeUpdationError">{{updateCaseTypeError}}</div>
                    <form class="simple-form" ng-submit="editCaseType()">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="caseType" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Case Type</span>:</label>
                            <input type="caseType" class="form-control"
                                   id="caseType1"
                                   ng-model="updateCaseType.caseType"
                                   placeholder=" Enter case Type"  maxlength="30"
                                   title="Enter Case Type" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="caseTypeDescription" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Case Type Description</span>:</label>
                            <input type="text" class="form-control"
                                   id="caseTypeDescription1"
                                   ng-model="updateCaseType.caseNumber"
                                   placeholder="Enter Case Type Description"
                                   title="Enter Case Type Description"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"  />
                        </div>
                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <input type="button" class="btn btn-default"  lang="en" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" data-backdrop="static" data-keyboard="false"  role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>

<div id="addSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{case.caseType}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{updateCaseType.caseType}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>