<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land and  Asset Management</span></li>

            </ol> -->
        </div>

    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Cost center Transfer Funds</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <!--<button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#costTransferFunds')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#createTransferFund" ng-click="castS(selectProjectDetails.costCenter)" lang="en">Transfer Funds</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="schemForms text-center">
                    <select ng-change="selectareas(projectId)" ng-model="projectId">
                        <option value="">-&#45;&#45;Please select-&#45;&#45;</option>
                        <option ng-repeat="proId in charterList" value="{{proId.projectId}}">{{proId.projectId}} - <b class="pull-right">{{proId.name}}</b></option>
                    </select>
                </div>-->
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.assetNumber)" ng-model="assetNumber" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.assetNumber}}</ui-select-match>
                        <ui-select-choices repeat="proId in landData | filter: $select.search">
                            <span ng-bind-html="proId.assetNumber | highlight: $select.search"></span> -->
                            <small ng-bind-html="proId.assetName | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">


                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Asset Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Land Id</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.assetNumber}}</td>
                                <td><b lang="en">Land Name</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{selectProjectDetails.assetName}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Locality</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{selectProjectDetails.locality}}</td>
                                <td><b lang="en">Register Id</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{selectProjectDetails.regdNo}}</td>
                            </tr>
                            <!-- <tr>
                                 <td><b>Start Date</b></td>
                                 <td>:</td>
                                 <td>{{selectProjectDetails.startDate}}</td>
                                 <td><b>End Date</b></td>
                                 <td>:</td>
                                 <td>{{selectProjectDetails.endDate}}</td>
                             </tr>-->
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->  <!-- <tr>
                            <td><b>Estimation Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.estimationCost}}</td>
                            <td><b>Utilized Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>-->
                            <tr>
                                <td><b lang="en">Asset Status</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{selectProjectDetails.status}}</td>
                                <td><b lang="en">Asset Purchase Date</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize" ng-if="selectProjectDetails.purchaseDate">{{selectProjectDetails.purchaseDate}}</td>
                                <td class="text-capitalize" style="font-weight:bold" ng-if="!selectProjectDetails.purchaseDate">Not Applicable</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Asset Mode</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{selectProjectDetails.assetMode}}</td>
                                <td><b lang="en">Asset Department</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{selectProjectDetails.departmentValue}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Asset Description</b></td>
                                <td>:</td>
                                <td colspan="4" class="text-capitalize">{{selectProjectDetails.assetDescription}}</td>
                            </tr>

                        </table>
                    </div>

                    <table id="costTransferFunds" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Asset Cost Center Details</div>
                        <div class="table-responsive adminContent">
                            <table datatable="ng" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="width160" lang="en">Date</th>
                                    <th class="width160" lang="en">From Cost Center</th>
                                    <th class="width160" lang="en">To Cost Center</th>
                                    <th class="width160" lang="en">Created Person</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="fundDetails in fundDetailsList">

                                    <td class="text-capitalize">{{fundDetails.fromDate}}</td>
                                    <td class="text-capitalize">{{fundDetails.fromCostCenter}}</td>
                                    <td class="text-capitalize">{{fundDetails.toCostCenter}}</td>
                                    <td class="text-capitalize">{{fundDetails.createdPerson}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div id="createTransferFund" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">New Cost Center Details</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="CaseCreationError">{{CaseError}}</div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="addFundTransfer()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <label style="color: brown;"><b>--- <span lang="en">From</span> ---</b></label>
                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en">Asset Id</label>
                            <select ng-model="foundDetails.assetId" data-style="btn-primary">
                                <!--<option value="">Select AssetId</option>-->
                                <option value="" selected> {{selectProjectDetails.assetNumber}}</option>
                                <!--<option ng-repeat="selectProjectDetails in landData" ng-selected="selectProjectDetails.assetNumber" value="{{selectProjectDetails.assetNumber}}">
                                    {{selectProjectDetails.assetNumber}}
                                </option>-->
                            </select>
                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Date</label>
                            <input  ng-model="foundDetails.fromDate" placeholder="Please Enter date" type="text"
                                   ng-calendar format="%d-%m-%Y" readonly />

                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Cost Center Name</label>
                            <select ng-model="foundDetails.fromCostCenter">
                                <option value="" ng-selected="selectProjectDetails.costCenter == foundDetails.fromCostCenter"> {{selectProjectDetails.costCenter}}</option>
                            </select>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <label style="color: brown;"><b>--- <span lang="en">To</span> ---</b></label>
                        </div>
                        <div class="form-group  col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Cost Center Name:</label>
                            <select ng-model="foundDetails.toCostCenter">
                                <option value="" selected>Select Cost Center</option>
                                <option ng-repeat="cost in costCenterList" value="{{cost.name}}">{{cost.name}}</option>
                            </select>
                        </div>
<!--
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ui-select ng-model="found.selectedSecondCostCenter" theme="selectize">
                                <ui-select-match placeholder="Select or Search Cost Center Name">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="cost in costCenterList | filter: $select.search">
                                    <span ng-bind-html="cost.name | highlight: $select.search"></span>
                                    &lt;!&ndash;<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>&ndash;&gt;
                                </ui-select-choices>
                            </ui-select>
                        </div>-->

                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12 color-red padding25px" ng-show="existedCostCenter">This Cost Center Is Already Exist... So, Please Change The Cost Center Name</div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                    <button id="cancel" type="button" class="btn btn-default"  data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>
