<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land and  Asset Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Asset Risks</span></li>
            </ol> -->
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/projectPlan" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Land Risks</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                           <!-- <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#assetRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#createProjectMilestone" lang="en" ng-click="riskResetData()">Create Land Risks</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="schemForms text-center">
                    <select ng-change="getAssetTypes(id)" ng-model="id">
                        <option value="">-&#45;&#45;Please select-&#45;&#45;</option>
                        <option ng-repeat="assetType in assetTypeList" value="{{assetType.id}}">{{assetType.assetNumber}} - <b class="pull-right">{{assetType.assetName}}</b></option>
                    </select>
                </div>-->
                <div>
                <ui-select ng-change="getAssetTypes($select.selected.id)" ng-model="id" theme="selectize">
                    <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.assetNumber}}</ui-select-match>
                    <ui-select-choices repeat="assetType in assetTypeList | filter: $select.search">
                        <span ng-bind-html="assetType.assetNumber | highlight: $select.search"></span>
                        <small ng-bind-html="assetType.assetName | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <table id="assetRisks" ng-show="hideDetails" class="table table-bordered table-striped"></table>
                    <div class="projectMain m-top20 m-btm20 ">

                        <div class="projectTile" lang="en">Land Risk Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Field Visitor Details</div>-->
                        <div class="table-responsive projectInner">
                            <table datatable="ng" class="hover table table-bordered table-striped" id="projectMilestone">
                                <thead>
                                <tr >
                                    <th lang="en">Land Risks</th>
                                    <th lang="en">Department</th>
                                    <th lang="en">Assessment</th>
                                    <th lang="en">Mitigation</th>
                                    <th lang="en">Plans</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="failureData in getAssetTypesData" >
                                    <!--<td>{{paymentMilestone.tentativeDate}}</td>-->
                                    <td class="text-capitalize">{{failureData.risks.name}}</td>
                                    <td class="text-capitalize">{{failureData.departmentName}}</td>
                                    <td class="text-capitalize">{{failureData.assessment}}</td>
                                    <td class="text-capitalize">{{failureData.mitigation}}</td>
                                    <td class="text-capitalize">{{failureData.plans}}</td>
                                    <td class="width150">
                                        <button class="btn btn-primary" data-toggle="modal" ng-click="failureDetails(failureData)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div id="createProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Land Risks</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="riskError">{{error}}</div>
            <form role="form" class="" name="myform"  ng-submit="assetRiskData()">
                <div class="modal-body">
                    <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                        {{errorMessageData}}</div>
                    <div class="schemForms row">
                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Risks:</label>
                            &lt;!&ndash;<input ng-model="getAssetFailureData.failureClasses" placeholder="Project Milestone Name" type="text" required/>&ndash;&gt;
                            <select ng-model="getAssetFailureData.risks" data-style="btn-primary" required>
                                <option value="">Select Asset Risk</option>
                                <option ng-repeat="failure in failureClassList" value="{{failure.name}}">{{failure.name}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Select Risk:</label>
                            <ui-select ng-model="getAssetFailureData.risks" theme="selectize">
                                <ui-select-match placeholder="Select or Search Risks">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="failure in failureClassList | filter: $select.search">
                                    <span ng-bind-html="failure.name | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Department Name:</label>
                            <select id="dept" required ng-model="getAssetFailureData.department">
                                <option value="" disabled>Select Department</option>
                                <option ng-repeat="dept in departmentList" value="{{dept.id}}">{{dept.name}}</option>
                            </select>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Assessment</span>:</label>

                            <textarea rows="3" ng-model="getAssetFailureData.assessment" placeholder="Enter Assessment" required></textarea>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Mitigation</span>:</label>
                            <textarea rows="3" ng-model="getAssetFailureData.mitigation" placeholder="Enter Mitigation" required></textarea>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Plans</span>:</label>
                            <textarea rows="3" ng-model="getAssetFailureData.plans" placeholder="Enter Plans" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="submit" class="btn btn-danger" lang="en" ng-click="riskResetData();">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Land Risk</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="riskError">{{error}}</div>
            <form role="form" class="" name="myform"  ng-submit="editRiskDetails()">
                <div class="modal-body">
                    <div class="schemForms row">

                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Risks:</label>
                            <select ng-model="editFailureData.risks" data-style="btn-primary" required>
                                <option value="">Select Asset Risk</option>
                                <option ng-repeat="failure in failureClassList" value="{{failure.name}}">{{failure.name}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--ng-change="editChange($select.selected.name)"-->
                            <ui-select required ng-model="editFailureData.risks" theme="selectize" ng-disabled="true">
                                <ui-select-match placeholder="Select or Search Land Risks"><strong>{{$select.selected.name}}</strong></ui-select-match>
                                <ui-select-choices repeat="failure in failureClassList | filter: $select.search">
                                    <span ng-bind-html="failure.name | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Department Name:</label>
                            <select ng-model="editFailureData.department">
                                <option value="" disabled>Select Department</option>
                                <!--<option ng-repeat="dept in departmentList" value="{{dept.id}}">{{dept.name}}</option>-->
                                <option ng-repeat="dept in departmentList"
                                        ng-selected="editFailureData.department== dept.name"
                                        value="{{dept.id}}">
                                    {{dept.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Assessment</span>:</label>

                            <textarea rows="3" ng-model="editFailureData.assessment" placeholder="Enter Assessment" required></textarea>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Mitigation</span>:</label>
                            <textarea rows="5" ng-model="editFailureData.mitigation" placeholder="Enter Mitigation" required></textarea>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Plans</span>:</label>
                            <textarea rows="5" ng-model="editFailureData.plans" placeholder="Enter Plans" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>




<div id="addAssetRisks" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Land Risk is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editAssetRisks" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Land Risk is Updated.</div>
            </div>
        </div>

    </div>
</div>