<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item"><a href="#/advocatePayment"><span lang="en">Advocate Payments</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Create Advocate Payments</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
            <a  href="#/advocatePayment" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="projectName" lang="en">
                                <span class="glyphicon glyphicon-hand-right"> </span> Create Advocate Payments
                            </div>
                            <div class="clearfix visible-block"></div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="" class="">
            <div class="schemForms" align="left">

                <div class="text-center color-red f-bold" ng-show="createPaymentError">{{createPaymentMessage}}</div>
                <form class="simple-form" ng-submit="createPayment()">
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>

                            <select  class="form-control" ng-model="payment.caseNumber" required>
                                <option value="">---Select Case Number ---</option>
                                <option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                            <label for="amount"><span class="color-red f-bold f-left">*</span><span lang="en">Amount Paid</span>:</label>
                            <input type="amount" class="form-control"
                                   id="amount" ng-model="payment.amount"
                                   placeholder="Enter Amount"
                                   title="Enter Amount" required
                                   data-toggle="tooltip" data-placement="top" valid-number
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" align="left">
                            <label> <span class="color-red f-bold f-left">*</span><span lang="en">Payment Date</span>:</label>
                            <!--<input ng-model="hearing.date" placeholder="Select Hearing date" type="text" ng-calendar format="%d-%m-%Y">-->
                            <!--<input type="text" class="form-control" ng-model="payment.date" placeholder="Enter Payment Date" ng-calendar required/>-->
                            <input ng-model="payment.date" placeholder="Please Select date" type="text" ng-calendar format="%d-%m-%Y" required readonly>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Mode of Payment</span>:</label><br>
                            <select  class="form-control" ng-change="modeChange(payment.mode)" ng-model="payment.mode" required>
                                <option value="">---Select Payment Mode ---</option>
                                <option ng-repeat="x in paymentMode" value="{{x}}">{{x}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" align="left" ng-show="onCash">
                            <label> <span class="color-red f-bold f-left"></span><span lang="en">Cheque/DD Date</span>:</label>
                            <!--<input ng-model="hearing.date" placeholder="Select Hearing date" type="text" ng-calendar format="%d-%m-%Y">-->
                            <!--<input ng-model="payment.checkDate" placeholder="Enter Check/DD Date" type="text" ng-calendar format="%d-%m-%Y" required readonly>-->
                            <input type="text" readonly class="form-control" ng-model="payment.checkDate" placeholder="Enter Check/DD Date" format="%d-%m-%Y" ng-calendar />
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 "  ng-show="onCash">
                            <label for="checkNo"><span class="color-red f-bold f-left">*</span><span lang="en">Cheque/DD Number</span>:</label>
                            <input type="text" class="form-control"
                                   id="checkNo" ng-model="payment.checkNo"
                                   placeholder="Enter Check/DD Number"
                                   title="Enter Check Number"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 "  ng-show="onCash">
                            <label for="bank"><span class="color-red f-bold f-left">*</span><span lang="en">Bank Name</span>:</label>
                            <input type="text" class="form-control"
                                   id="bank" ng-model="payment.bank"
                                   placeholder="Enter Bank Name"
                                   title="Enter Bank Name"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 "  ng-show="onCash">
                            <label for="branch"><span class="color-red f-bold f-left">*</span><span lang="en">Branch Name</span>:</label>
                            <input type="text" class="form-control"
                                   id="branch" ng-model="payment.branch"
                                   placeholder="Enter Branch Name"
                                   title="Enter Branch Name"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Advocate</span>:</label><br>
                            <select  class="form-control" ng-model="payment.advocateName" required>
                                <option value="">---Select Advocate Name ---</option>
                                <option ng-repeat="x in advocates" value="{{x}}">{{x.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Payment Details</span>:</label>
                            <textarea type="text" rows="5" class="form-control" ng-model="payment.description" required></textarea>
                        </div>
                        <hr/>
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" lang="en" class="btn btn-success">Submit</button>
                            <button lang="en" type="button" ng-click="reset()" class="btn btn-info">Reset</button>
                            <a href="#/advocatePayment" type="button" lang="en" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


