<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item"><a href="#/projectPlan"><span lang="en">Project Plan</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Create New Plan</span></li>
            </ol> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/projectPlan" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">
    <div ng-show="charterLength" class="text-center" >
        <h1 class="text-center">Their is no Charter Id for creating a plan. <br>
            Please create Charter first.</h1><br><br><br>
    <a class=" text-center btn btn-success" href="#/projectCharter">Create Charter</a>
    </div>

    <div ng-show="!charterLength" class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Create Plan</div>
                    </div>
                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn btn-danger pull-right" ng-click="createCharter()">Create Charter</button>
                    </div>-->
                </div>

                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="createPlan schemForms">
                    <form class="row" role="form" name="myform" ng-submit="createPlan()">

                        <div ng-show="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}} <hr class=""/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Plan ID</label>:
                         <!--   <input type="text" placeholder="Plan ID" class="form-control" ng-model="plan.id" required />-->
                            <select ng-change="onChangePlaneId()" ng-model="plan.planId" data-style="btn-primary" required>
                                <option value="">Select Plan Id</option>
                                <option ng-repeat="plan in charterList"  value="{{plan.projectId}}">{{plan.projectId}}</option>
                              <!--  <option value="central" >Central Govt Schemes</option>-->
                            </select>
                            <div ng-if="planId" class="color-red">{{planErrorMessage}}</div>

                            <!--<select ng-model="plan.planId" ng-options="plan.projectId for plan in charterList | unique:'projectId'">
                                <option value="">Select Plan Id</option>
                                <option ng-repeat="plan in charterList" value="{{plan.projectId}}">{{plan.projectId}}</option>
                                &lt;!&ndash;<option value="central" >Central Govt Schemes</option>&ndash;&gt;
                                // unique options from the categories
                            </select>-->

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Plan Name</label>:
                            <input type="text" placeholder="Plan Name" class="form-control" ng-model="plan.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Plan Description</label>:
                            <textarea type="text" rows="5" placeholder="Plan Description" class="form-control" ng-model="plan.description" required ></textarea>
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Department</label>:
                            <select ng-model="plan.departmentId" data-style="btn-primary">
                                <option value="">Select department Id</option>
                                <option ng-repeat="department in departmentList" class="text-capitalize" value="{{department.id}}">{{department.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>ULB Name</label>:
                            <select ng-model="plan.ulb" data-style="btn-primary">
                                <option value="">Select ULB Name</option>
                                <option ng-repeat="ulb in ulbList" class="text-capitalize" value="{{ulb.name}}">{{ulb.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Applicant ID</label>:
                            <input type="text" rows="5" placeholder="Applicant ID" class="form-control" ng-model="plan.applicantId" required />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Task Status</label>:
                            <select  ng-model="plan.taskStatusId" data-style="btn-primary" required>
                                <option value="">Select Task Status</option>
                                <option ng-repeat="taskState in taskStateList" class="text-capitalize"  value="{{taskState.id}}">{{taskState.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Tax Due</label>:
                            <select ng-change="checkTaxDue()" ng-model="plan.taxDueStatus" data-style="btn-primary" required>
                                <option value="">Select Tax Due Status</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                             </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-if="planStatusView">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Plan Status</label>:
                            <select ng-model="plan.palnStatusId" data-style="btn-primary" required>
                                <option value="" selected>Select Plan Status</option>
                                <option ng-repeat="planstate in planStateList" value="{{planstate.id}}" class="text-capitalize">{{planstate.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Start Date</label>:
                            <input ng-model="plan.startDate" placeholder="Please Start date" type="text" ng-calendar format="%d-%m-%Y" readonly />
                            <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>End Date</label>:
                            <input ng-model="plan.endDate" placeholder="Please End date" type="text" ng-calendar format="%d-%m-%Y" readonly />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Estimation Cost</label>:
                            <input type="text" placeholder="Estimation Cost" class="form-control" ng-model="plan.estimationCost" valid-number required />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Utilized Cost</label>:
                            <input type="text" placeholder="Utilized Cost" valid-number class="form-control" ng-model="plan.utilizedCost" required />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Financial Year</label>:
                            <select ng-model="plan.financialYear">
                                <option value="">Select Financial Year</option>
                                <option>2016-2017</option>
                                <option>2017-2018</option>
                                <option>2018-2019</option>
                                <option>2019-2020</option>
                                <option>2020-2021</option>
                                <option>2021-2022</option>
                                <option>2022-2023</option>
                                <option>2023-2024</option>
                                <option>2024-2025</option>
                                <option>2025-2026</option>
                                <option>2026-2027</option>
                            </select>
                         </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Location Co-Ordinates</label>:
                            <input type="text" placeholder="Enter Location Co-Ordinates" class="form-control" ng-model="plan.locationCoOrdinates" required />
                        </div>
                        <div class="form-group col-lg-9 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span>(%) </span>Complete Status</label>:
                            <div class="range range-danger" ng-model="plan.percentageStatus">
                                <input type="range" name="range" min="0" max="100" value="0" onchange="rangeDanger.value=value">
                                <output id="rangeDanger" >0</output>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Village</label>:
                            <input type="text" placeholder="Village Name" class="form-control" ng-model="plan.village" required />
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Mandal</label>:
                            <input type="text" placeholder="Mandal Name" class="form-control" ng-model="plan.mandal" required />
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>City</label>:
                            <input type="text" placeholder="City Name" class="form-control" ng-model="plan.city" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Address</label>:
                            <textarea type="text" rows="5" placeholder="Address Details" class="form-control" ng-model="plan.address"  required ></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <button type="submit" class="btn btn-success" lang="en">Create Plan</button>
                            <button type="button" class="btn btn-info" lang="en">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addPlanSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully -' <b>{{plan.name}}</b> '  is Created.</div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="addPlanSuccessRedirect()" class="btn btn-success width120">OK</button>
        </div>
    </div>
</div>