<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land And Asset Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Asset Demand Projection</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span><span lang="en">Land Demand Projection</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-success pull-right" data-toggle="modal" ng-show="addButtonShow" ng-click="removeData()"  data-target="#createCharter" lang="en">Land Demand Projection</button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#demandProjection')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                           <!-- <button class="btn btn-default pull-right m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
            <form role="form" name="myform">

                <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span><span lang="en">Department</span>:</label>


                    <!-- <ui-select ng-change="getEmployeeDepartment($select.selected.department)" ng-model="charter.department" theme="selectize">
                     <ui-select-match placeholder="Select or Search Department Details">{{$select.selected.name}}</ui-select-match>
                     <ui-select-choices repeat="departmentData in employeeListType | filter: $select.search">
                     <span ng-bind-html="departmentData.name | highlight: $select.search"></span>
                         &lt;!&ndash;<small ng-bind-html="department.name | highlight: $select.search"></small>&ndash;&gt;
                     </ui-select-choices>
                     </ui-select>-->

                    <div class="schemForms text-center">

                        <select ng-change="getEmployeeDepartment(charter.department)" ng-model="charter.department" data-style="btn-primary" required>
                            <option value="">--Select Department--</option>

                            <option ng-repeat="departmentData in departMen"
                                    value="{{departmentData.name}}">
                                {{departmentData.name}}
                            </option>
                        </select>
                    </div>

                </div>

                <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span><span lang="en">Financial Year</span>:</label> <br>
                    <div class="schemForms text-center">
                        <select ng-change="getFinancialYear(charter.financialYear)" ng-model="charter.financialYear"
                                ng-options="x for x in financialYear" data-style="btn-primary" required>

                            <option value="">--Select Financial Year--</option>

                        </select>

                    </div>
                </div>


            </form>
</div>
            <table id="demandProjection" ng-show="hideDetails" class="table table-bordered table-striped"></table>

          <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile">Demand Projection Details</div>
                    <div class="table-responsive projectInner">
                        <table datatable="ng" class="table table-bordered table-striped" id="charter">
                            <thead>
                            <tr>
                                <th>Asset Type</th>
                                <th>Asset Name</th>
                                <th>Quantity</th>
                                <th>Expected By Date</th>
                                <th>Estimation Cost</th>
                                <th>Procurement Method</th>
                                <th>Approval Status</th>
                                <th class="width20">Action</th>
                            </tr>
                            </thead>
                            <tbody>{{logBookList}}
                            <tr ng-repeat="charter in logBookList">
                                <td><p>{{charter.assetType}}</p></td>
                                <td><p>{{charter.assetName}}</p></td>
                                <td><p>{{charter.quantity}}</p></td>
                                <td><p>{{charter.expectedDate}}</p></td>
                                <td><p>{{charter.estimationCost}}</p></td>
                                <td>{{charter.procurementMethod}}</td>
                                <td>{{charter.status}}</td>
                                <td class="width120">
                                    <button class="btn btn-primary" ng-click="editCharterButton(charter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        -->    <div class="projectMain m-top20 m-btm20 ">
                <div class="projectTile" lang="en">Land Demand Projection Details</div>
                <div class="table-responsive projectInner">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" >

                        <tbody>
                        <!--     {{filedVisitList}}-->

                        <tr ng-repeat="charter in logBookList" class="tableRepeatText" >
                            <td class="nopadding">
                                <table class="table nopadding table-bordered table-striped" >
                                    <thead>
                                    <th lang="en">Asset Type</th>
                                    <th lang="en">Asset Name</th>
                                    <th lang="en">Quantity</th>
                                    <th lang="en">Expected By Date</th>
                                    <th lang="en">Estimation Cost</th>
                                    <th lang="en">Procurement Method</th>
                                    <th colspan="4" lang="en">Action</th>

                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-capitalize"><p>{{charter.assetType}}</p></td>
                                        <td class="text-capitalize"><p>{{charter.assetName}}</p></td>
                                        <td class="text-capitalize"><p>{{charter.quantity}}</p></td>
                                        <td class="text-capitalize"><p>{{charter.expectedDate}}</p></td>
                                        <td class="text-capitalize"><p>{{charter.estimationCost}}</p></td>
                                        <td class="text-capitalize">{{charter.procurementMethod}}</td>
                                        <td class="width50">
                                            <button class="btn btn-primary"  data-toggle="tooltip" title="Edit Demand Projection Details" ng-if="charter.editDetails" ng-click="editProjectUploads(charter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        </td>

                                        <td class="width50">
                                                    <span data-toggle="tooltip" title="View Demand Projection Details">
                                                        <button class="btn btn-default center-block" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </button>
                                                    </span>
                                        </td>
                                        <td class="width50" ng-if="charter.approveFiledVisit">
                                            <!--data-toggle="modal" data-target="#approavlReport"-->
                                            <!--data-toggle="modal" data-target="#rejectReport"-->
                                            <button type="button" ng-if="charter.approveFiledVisit" data-toggle="tooltip" title="Approve" ng-click="approvalModal(charter)" class="btn btn-success" >
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </td>
                                        <td class="width50" ng-if="charter.approveFiledVisit">
                                            <button type="button" ng-if="charter.approveFiledVisit"  data-toggle="tooltip" title="Reject" ng-click="rejectModal(charter)"class="btn btn-danger" >
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="hiddenRow">
                                            <div class="accordian-body collapse" id="demo-{{$index}}">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th lang="en">Workflow Id</th>
                                                        <th lang="en">Workflow Level</th>
                                                        <th lang="en">Level No</th>
                                                        <th lang="en">Status</th>
                                                        <th lang="en">Approval Person</th>
                                                        <th lang="en">Date</th>
                                                        <th lang="en">Comment</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="workflow in charter.workflow">
                                                        <td class="text-capitalize">{{workflow.workflowId}} </td>
                                                        <td class="text-capitalize">{{workflow.levelId}}  </td>
                                                        <td class="text-capitalize">{{workflow.levelNo}}  </td>
                                                        <td class="text-capitalize">{{workflow.approvalStatus}}  </td>
                                                        <td class="text-capitalize">{{workflow.employeeName}}  </td>
                                                        <td class="text-capitalize">{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                        <!-- <td>
                                                             &lt;!&ndash;  <button>Approval</button>
                                                           <button>Reject</button>&ndash;&gt;
                                                             <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                         </td>-->
                                                        <td>{{workflow.comment}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>

        </div>

    </div>
</div>


<div id="createCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Create Demand Projection</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="createDemandProjection()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 colxs-12 form-group">
                             <label><span class="color-red f-bold f-left">*</span>Purchage Agenda ID:</label>
                             <input type="text" class="form-control" ng-model="charter.purchageAgendaId"/>
                         </div>-->

                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span>Asset Type:</label>
                            <select ng-model="charter.assetType" data-style="btn-primary" required>
                                <option value="">Select Asset</option>
                                <option ng-repeat="departmentData in assetTypeList"
                                        value="{{departmentData.name}}">
                                    {{departmentData.name}}
                                </option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ui-select ng-model="charter.assetType" theme="selectize">
                                <ui-select-match placeholder="Select or Search Asset Type">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="departmentData in assetTypeList | filter: $select.search">
                                    <span ng-bind-html="departmentData.name | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Asset Name</span>:</label>
                            <input  placeholder="Enter Asset Name" type="text" ng-model="charter.assetName" required/>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Quantity</span>:</label>
                            <input  placeholder="Asset Quantity" type="text" ng-model="charter.quantity" required/>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Expected By Date</span>:</label>
                            <input  placeholder="Enter Date" type="text" ng-calendar ng-model="charter.expectedDate" format="%d-%m-%Y" readonly>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Estimation Cost</span>:</label>
                            <input  placeholder="Asset Estimation Cost" type="text" ng-model="charter.estimationCost" valid-number required/>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Procurement Method</span>:</label>

                            <select ng-model="charter.procurementMethod" data-style="btn-primary" required>
                                <option value="">--Select Procurement Method--</option>
                                <option value="Single Source">Single Source</option>
                                <option value="Bidding">Bidding</option>

                            </select>
                        </div>

                       <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label> Approval Status:</label>

                            <select ng-model="charter.status" data-style="btn-primary" required>
                                <option value="">Approval Status</option>
                                <option ng-repeat="x in assetStatusList" value="{{x.name}}">{{x.name}}</option>
                            </select>

                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-success" lang="en" ng-click="removeData()">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Demand Projection</h4>
            </div>
            <form role="form" name="myform" ng-submit="editDemandProjection()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                             <label>Purchage Agenda ID:</label>
                             <input type="text" class="form-control" ng-model="editCharterData.purchageAgendaId"/>
                         </div>-->


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Asset Types</span>:</label>
                            <select ng-model="editCharterData.assetType" data-style="btn-primary" required>
                                <option value="">Select Asset</option>
                                <option ng-repeat="departmentData in assetTypeList"
                                        value="{{departmentData.name}}">
                                    {{departmentData.name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Asset Name</span>:</label>
                            <input  placeholder="Enter Asset Name" type="text" ng-model="editCharterData.assetName" required/>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Quantity</span>:</label>
                            <input  placeholder="Asset Quantity" type="text" ng-model="editCharterData.quantity" required/>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Expected By Date</span>:</label>
                            <input  placeholder="Enter Date" type="text" ng-calendar ng-model="editCharterData.expectedDate" format="%d-%m-%Y" readonly>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Estimation Cost</span>:</label>
                            <input  placeholder="Asset Estimation Cost" type="text" ng-model="editCharterData.estimationCost" required/>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Procurement Method</span>:</label>

                            <select ng-model="editCharterData.procurementMethod" data-style="btn-primary" required>
                                <option value="">--Select Procurement Method--</option>
                                <option value="Single Source">Single Source</option>
                                <option value="Bidding">Bidding</option>

                            </select>
                        </div>

                      <!--  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label> Approval Status:</label>

                            <select ng-model="editCharterData.status" data-style="btn-primary" required>
                                <option value="">Approval Status</option>
                                <option ng-repeat="x in assetStatusList" value="{{x.name}}">{{x.name}}</option>
                            </select>

                        </div>-->


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Land Demand Projection Approval</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Comment</span></label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Land Demand Projection Reject</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Reject Comment</span></label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="addPlanLayoutSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Successfully Land Demand Projection</h5>
                <!--<h5 class="color-red">{{createTaskDetailsView}}</h5>-->
                <h4>{{upload.location}}</h4>
                <h5>is Created.</h5>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="editPlanLayoutSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Land Demand Projection is Updated.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>