<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Empanel Group</span></li>
            </ol> -->
        </div>
    </div>
</div>


<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right" > </span> Empanel Group</div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Acts</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.empannelGroupedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="empanelClick()" lang="en">Create Empanel Group
                            </button>

                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#empanelGroup')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="empanelGroup" ng-show="hideDetails" class="table table-bordered table-striped"></table>

        <div class="table-responsive">

            <table datatable="ng" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="groupName" custom-sort order="'groupName'" sort="sort" lang="en">Group Name &nbsp;</th>
                    <th class="advocateName" custom-sort order="'advocateName'" sort="sort" lang="en">Advocate Name &nbsp;</th>
                    <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.empannelGroupedit" lang="en">Action &nbsp;</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="empannelInfo in empannelData track by $index ">
                    <td class="text-capitalize">{{empannelInfo.groupName}}</td>
                    <!--<td>{{empannelInfo.groupName}}</td>-->
                    <!--<td>{{empannelInfo.advocateName}}</td>-->
                    <td><span class="spanComma text-capitalize" ng-repeat="case in empannelInfo.advocateList">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                    <td ng-if="roleLogin.empannelGroupedit">
                        <button class="btn btn-primary"
                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                data-target="#empannelEdit" ng-click="editEmpannelPopup(empannelInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createEmpanelModal" empannel="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center" lang="en">Create Empanel Group</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="empannelCreationError">{{createEmpannelError}}</div>
                    <form class="simple-form" ng-submit="createEmpannel(empannel)">

                        <div class="form-group" align="left">
                            <label for="groupName"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Group Name</span>:</label>
                            <input type="groupName" class="form-control"
                                   id="groupName" ng-model="empannel.groupName"
                                   placeholder="Enter Group Name"
                                   required
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Select Advocate</span>:</label><br>
                            <select multiple class="form-control" ng-model="empannel.advocateName"
                                    oninvalid="setCustomValidity('Please Select Advocate From The List')"
                                    onchange="try{setCustomValidity('')}catch(e){}" required>

                                <option class="text-capitalize" ng-repeat="x in advocates" value="{{x}}">{{x.name}}</option>
                            </select>
                        </div>
                        <!--<input id="saveEmpannel" class="btn btn-success" type="submit" lang="en " value="Submit"/>-->
                        <input id="saveEmpannel" class="btn btn-success" type="submit" lang="en" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="empannelEdit" empannel="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>

                <h4 class="modal-title text-left" lang="en">Edit Empanel Group</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="empannelUpdationError">{{updateEmpannelError}}</div>
                    <form class="simple-form" ng-submit="editEmpannel()">

                        <div class="form-group" align="left">
                            <label for="groupName" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Group Name</span>:</label>
                            <input type="text" class="form-control text-capitalize"
                                   id="groupName1"
                                   ng-model="updateEmpannel.groupName"
                                   placeholder="Enter Group Name"
                                   title="Enter Group Name"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>

                        <div class="form-group" align="left">
                            <!--<label><span class="color-red">*</span>Selected Advocate List:</label>
                            <input type="text" placeholder="Selected List" class="form-control text-capitalize" ng-repeat="empannel in updateEmpannel.advocateList" ng-model="empannel.name" readonly>-->
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Select Advocate</span>:</label><br>
                            <select multiple class="form-control" ng-model="updateEmpannel.advocateName"
                                    oninvalid="setCustomValidity('Please Select Advocate From The List')"
                                    onchange="try{setCustomValidity('')}catch(e){}" required>
                                <option class="text-capitalize" ng-repeat="x in advocates track by $index" ng-selected="updateEmpannel.advocateName == x.name" value="{{x.advId}}">{{x.name}}</option>
                            </select>
                        </div>


                        <!--<input type="submit" class="btn btn-success" lang="en " value="Update"/>-->
                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <input type="button" class="btn btn-default" lang="en" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>

<div id="addSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{empannel.groupName}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{updateEmpannel.groupName}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>