<section class="emp_benfits">
    <div class="container">
        <div class="emp_head">
            <h3>Employee Benefits</h3>
        </div>
        <div class="listofemp">
            
            <ul>
                <li><a href="http://shodhganga.inflibnet.ac.in/bitstream/10603/77445/15/16_annexure_02.pdf" target="_blank">Employee health benefits</a></li>
                <li><a href="">Travelling benefits</a></li>
                <li><a href="">Allowances</a></li>
                <li><a href="">Special packages</a></li>
                <li><a href="">Provident fund benefits</a></li>
                <li><a href="">Leave benefits</a></li>
                <li><a href="">Benefits types</a></li>

            </ul>
        </div>
    </div>
</section>
