<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home">Home</a></li>
                <li class="breadcrumb-item">Legal Management</li>
                <li class="breadcrumb-item">Case Management</li>
                <li class="breadcrumb-item active"><a href="#/hearingDate">Hearing Date Info</a></li>
                <li class="breadcrumb-item active">Hearing Date Details</li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Hearing Date Details</div>
                    </div>

                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
                <a href="#/calendarDockets" class="backbtnArea pull-right">
                    <div class="" id="content">
                        <div class="aside arrow">
                            <span class="glyphicon glyphicon-chevron-left"> </span>
                            <span class="backbtn">Go Back</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class=" col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="caseIdShow">
<!--<div ng-repeat="a in caseNumberList">{{a}}</div>-->
                    <h5 class="text-left" lang="en">Select Case Number:</h5>
                    <ui-select ng-change="selectareas($select.selected.caseNumber)" ng-model="caseNumber" theme="selectize">
                        <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>
                        <ui-select-choices repeat="caseNumb in caseList | filter: $select.search">
                            <span ng-bind-html="caseNumb.caseNumber | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCaseDetails">
                <!--<div ng-repeat="history in selectCaseDetails track by $index">-->

                    <div class=" m-top20 m-btm20 ">
                        <div class="projectTile">Case Details</div>

                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b>Case Number</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.caseNumber}}</td>

                                <td><b>Advocate Name</b></td>
                                <td>:</td>
                                <td class="text-capitalize"><span class="spanComma" ng-repeat="case in selectCaseDetails.advocateName">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                <!--<td>{{selectCaseDetails.advocateName}}</td>-->
                            </tr>

                            <tr>
                                <td><b>Hearing Date</b></td>
                                <td>:</td>
                                <td>{{selectCaseDetails.dateHearing | date: "dd-MM-yyyy"}}</td>

                                <td><b>Status</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{selectCaseDetails.status}}</td>
                            </tr>

                            <!--<tr>-->
                                <!--<td><b>Created Person</b></td>-->
                                <!--<td>:</td>-->
                                <!--<td>{{selectCaseDetails.createdPerson}}</td>-->

                                <!--<td><b>Last Edited Person</b></td>-->
                                <!--<td>:</td>-->
                                <!--<td>{{selectCaseDetails.lastEditPerson}}</td>-->
                            <!--</tr>-->


                            <tr>
                                <td><b>Hearing Comments</b></td>
                                <td>:</td>
                                <td colspan="4" class="text-capitalize">{{selectCaseDetails.comment}}</td>
                            </tr>

                        </table>






                        <!--File upload and comments -->

                        <div class="projectMain m-top20 m-btm20 ">
                            <div class="projectTile">Doc Upload Details</div>

                            <table class="table table-bordered nopadding">
                                <tr>
                                    <!--<th>Header Name</th>-->
                                    <!--<th>Name</th>-->
                                    <th>Attached Files</th>
                                    <th>Comment</th>
                                    <!--<th>Edit</th>-->
                                </tr>
                                <tr ng-repeat="document in documentsList">

                                    <!--<td>{{document.uploadedPersonName}}</td>-->
                                    <td><div ng-repeat="f in document.file">
                                        <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a>

                                        <div>{{f.comment}}</div>
                                    </div></td>
                                    <td class="text-capitalize">{{document.comments}}</td>
                                    <!--<td>-->
                                    <!--<button class="btn btn-primary" ng-click="editUploadFile()"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                    <!--</td>-->
                                </tr>
                            </table>
                        </div>

                        <button class="btn btn-success" id="scroll">Add Upload File</button>
                        <div class="clearfix visible-lg-block"></div>

                        <div id="scroll2" class="schemForms">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="projectMain m-top20 m-btm20 ">
                                        <div class="projectTile">Add Upload Files</div>
                                        <div class="p-all">
                                            <form role="form" class="row" name="myform" class="adminContent" ng-submit="caseUploads()">
                                                <div class="color-red f-bold p-all" ng-show="uploadError">{{uploadErrorMessage}}</div>
                                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <label><span class="color-red f-bold f-left">*</span>Comment</label>
                                                    <textarea rows="5" ng-model="upload.comments" placeholder="Enter Comment"></textarea>
                                                </div>
                                                <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                                    <div class="projectMain p-all">
                                                    <label><span class="color-red f-bold f-left">*</span>Upload Files</label>
                                                    <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Attach Files</button>
                                                    <br>
                                                        <div class="color-red" ng-show="errorMssg1">Please Wait.. Uploading the selected file.</div>
                                                    <br>Uploaded Files:
                                                        <div class="color-theme1 f-bold" ng-show="fileUploadSuccess">File(s) Uploaded Successfully.</div>
                                                    <table class="table" >
                                                        <thead>
                                                        <tr>
                                                            <th>File Name</th>
                                                            <th>Comment</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!--<tr  ng-repeat="f in docList">
                                                            <td> {{f.filename}}</td>
                                                            <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                            </td>
                                                        </tr>-->

                                                        <tr  ng-repeat="f in docList track by $index">
                                                            <td>  <a target="_blank" href="{{uploadFile}}{{f._id}}">{{f.filename}}</a></td>

                                                            <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                            </td>
                                                            <td class="width20">
                                                                <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile( f._id,$index)"></span>
                                                            </td>
                                                        </tr>

                                                        </tbody>



                                                    </table>

                                                    <span class="progress" ng-show="progress >= 0"></span>

                                                </div>
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                    <button type="button" class="btn btn-info" ng-click="reset()">Reset</button>
                                                    <button id="cancel" type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--<div ng-show="selectHearingHistoryDetails">-->
                    <div ng-repeat="hearingHistory in selectHearingHistoryDetails track by $index">

                    <div class=" m-top20 m-btm20 ">
                        <div class="projectTile">Case Details</div>

                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b>Case Number</b></td>
                                <td class="width20">:</td>
                                <td>{{hearingHistory.caseNumber}}</td>

                                <td><b>Advocate Name</b></td>
                                <td>:</td>
                                <td class="text-capitalize"><span class="spanComma" ng-repeat="case in hearingHistory.advocateName">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                <!--<td>{{selectCaseDetails.advocateName}}</td>-->
                            </tr>

                            <tr>
                                <td><b>Hearing Date</b></td>
                                <td>:</td>
                                <td>{{hearingHistory.dateHearing | date: "dd-MM-yyyy"}}</td>

                                <td><b>Status</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{hearingHistory.status}}</td>
                            </tr>




                            <tr>
                                <td><b>Hearing Comments</b></td>
                                <td>:</td>
                                <td colspan="4" class="text-capitalize">{{hearingHistory.comment}}</td>
                            </tr>

                        </table>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


