<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   
    <div style="float: right;">
      <select required  name="option" id="option" ng-model="option" ng-change="selectYear(option)" style="margin: 12px;font-size: 18px;">
        <option class="placeholder" selected disabled value="">Select Year</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
      </select>
      </div>
    <div id="birth" style="min-width: 310px; height: 350px; margin: 0 auto;cursor:pointer;margin-bottom:70px;" ></div>


    <div id="birthPie" style="min-width: 310px; height: 300px; max-width: 400px;margin:auto;margin-top:30px;margin-bottom:30px;"></div>

</div>