<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Reports</span></li>
                <li class="breadcrumb-item "><a href="#/schemeWiseRequests"><span lang="en">Scheme Wise Request</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Scheme Wise Request Details</span></li>
            </ol>
        </div>
    </div>
</div>
<!--<div class="pull-right">
    <a href=""><span class="glyphicon glyphicon-chevron-left"> </span> Go Back</a>
</div>-->
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Scheme Wise Request Details</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="addScheme pull-right">
                    <button class="btn btn-default m-right5" ng-click="exportToExcel('#openSchemeDetails')" lang="en">
                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>
                </div>
                <table id="openSchemeDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">
                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Filter Data</div>
                        <table datatable="ng" class="table table-bordered table-striped table-hover nopadding">
                            <thead>

                            <tr>
                                <th rowspan="2">Scheme Name</th>
                                <th rowspan="2">Request Id</th>
                                <th rowspan="2">Request Status</th>
                                <th colspan="3">Applicant Details</th>
                                <th rowspan="2">Workflow</th>
                            </tr>
                            <tr>
                               <th>Name</th>
                               <th>Email</th>
                               <th>Mobile</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="requestIs in requestLists">
                                <td>{{requestIs.schemeName}}</td>
                                <td>{{requestIs.requestId}}</td>
                                <td>{{requestIs.requestStatus}}</td>
                                <td>{{requestIs.name}}</td>
                                <td>{{requestIs.emailId}}</td>
                                <td>{{requestIs.mobileNumber}}</td>
                                <td>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th colspan="7" class="headerBgColor ">Workflow Details</th>
                                        </tr>
                                        <tr>
                                            <th>Workflow Id</th>
                                            <th>Level Id</th>
                                            <th>Status</th>
                                            <th>Employee Name</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="workflowIs in requestIs.workflow">
                                            <td>{{workflowIs.workflowId}}</td>
                                            <td>{{workflowIs.levelId}}</td>
                                            <td>{{workflowIs.status}}</td>
                                            <td>{{workflowIs.employeeName}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>