<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en"> Payment Details</span></li>
            </ol> -->
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Payment Details</div>
                    </div>
                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>-->
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <form ng-submit="paymentData()">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5 class="text-left" lang="en">Select Financial Year</h5>
                <!--<ui-select ng-change="selectDepartment($select.selected.id)" ng-model="projectId" theme="selectize">
                    <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="department in departmentList | filter: $select.search">
                        <span ng-bind-html="department.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>-->
                <select ng-change="selectProject()" ng-model="selectYear">
                    <option value="" disabled>Select Financial Year</option>
                    <option value="2016-2017">2016-2017</option>
                    <option value="2017-2018">2017-2018</option>
                    <option value="2018-2019">2018-2019</option>
                    <option value="2019-2020">2019-2020</option>
                    <option value="2020-2021">2020-2021</option>
                    <option value="2021-2022">2021-2022</option>
                    <option value="2022-2023">2022-2023</option>
                    <option value="2023-2024">2023-2024</option>
                    <option value="2024-2025">2024-2025</option>
                    <option value="2025-2026">2025-2026</option>
                    <option value="2026-2027">2026-2027</option>
                </select>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-show="showProjects">
                <h5 class="text-left" lang="en">Select or Search Project</h5>
                <ui-select ng-change="selectDepartment($select.selected.planId)" ng-model="projectId" theme="selectize">
                    <ui-select-match placeholder="Select or Search Project">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="department in schemeListData | filter: $select.search">
                        <span ng-bind-html="department.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12" ng-show="showSubmit">
                    <br />
                    <br />
                    <button class="btn btn-success width200">Submit</button>
                </div>
            </form>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showDetails">

                <div class="m-top20">
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th lang="en">Bill Id</th>
                                <th lang="en">Plan Id</th>
                                <th lang="en">EstimatedAmount Name</th>
                                <!--<th lang="en">Contractor Name</th>-->
                                <!--<th lang="en">Action</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="mdata in projectDetails">
                                <td>{{mdata.billId}}</td>
                                <td><a data-toggle="tooltip" title="View Payment Details" href="#/paymentMISView/{{mdata.planId}}">{{mdata.planId}}</a></td>
                                <td>{{mdata.estimatedAmount}}</td>
                                <!--<td>{{mdata.contractorName}}</td>-->
                                <!--<td>
                                    <button type="button" data-toggle="tooltip" title="View Payment Order Details" ng-click="measureMISModal(mdata)"class="btn btn-primary" >
                                        <span class="glyphicon glyphicon-th-large"></span>
                                    </button>
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>