<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Plan Layout & Doc Upload</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Plan Layout & Upload</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#planLayoytExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" ng-click="addUploadFileModal()" lang="en">Create Plan Layout Details</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="planLayoytExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>% </span>Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Plan Layout And Upload Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" >

                                <tbody>
                                <!--     {{filedVisitList}}-->

                                <tr ng-repeat="document in documentsList" class="tableRepeatText" >
                                    <td class="nopadding">
                                        <table class="table nopadding table-bordered table-striped" >
                                            <thead>
                                            <th lang="en">Name</th>
                                            <th lang="en">City</th>
                                            <th lang="en">Location</th>
                                            <th lang="en">Village</th>
                                            <th lang="en">Survey Area</th>
                                            <th lang="en">Date</th>
                                            <th lang="en">Attached Files</th>
                                            <th colspan="4" lang="en">Action</th>

                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="width150 text-capitalize" >{{document.createdPerson}}</td>
                                                <td class="text-capitalize">{{document.city}}</td>
                                                <td class="text-capitalize">{{document.location}}</td>
                                                <td class="text-capitalize">{{document.village}}</td>
                                                <td class="text-capitalize">{{document.surveyArea}}</td>
                                                <td>{{document.date}}</td>
                                                <!--   <td>{{document.palnStatus}}</td>-->
                                                <td><div ng-repeat="f in document.file">
                                                    <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a>
                                                    <div class="text-capitalize">{{f.comment}}</div>
                                                </div></td>
                                                <!--   <td>
                                                       <button class="btn btn-primary" ng-click="editProjectUploads(document)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                   </td>-->
                                                <td class="width50">
                                                    <button class="btn btn-primary"  data-toggle="tooltip" title="Edit Plan Layout & Upload Details" ng-if="document.editDetails" ng-click="editProjectUploads(document)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                </td>

                                                <td class="width50">
                                                    <span data-toggle="tooltip" title="View WorkFlow Details">
                                                        <button class="btn btn-default center-block" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                         </button>
                                                    </span>
                                                </td>
                                                <td class="width50" ng-if="document.approveFiledVisit">
                                                    <!--data-toggle="modal" data-target="#approavlReport"-->
                                                    <!--data-toggle="modal" data-target="#rejectReport"-->
                                                    <button type="button" ng-if="document.approveFiledVisit" data-toggle="tooltip" title="Approve" ng-click="approvalModal(document)" class="btn btn-success" >
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                </td>
                                                <td class="width50" ng-if="document.approveFiledVisit">
                                                    <button type="button" ng-if="document.approveFiledVisit"  data-toggle="tooltip" title="Reject" ng-click="rejectModal(document)"class="btn btn-danger" >
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="demo-{{$index}}">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th lang="en">Workflow Id</th>
                                                                <th lang="en">Workflow Level</th>
                                                                <th lang="en">Level No</th>
                                                                <th lang="en">Status</th>
                                                                <th lang="en">Approval Person</th>
                                                                <th lang="en">Date</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="workflow in document.workflow">
                                                                <td>{{workflow.workflowId}} </td>
                                                                <td>{{workflow.levelId}}  </td>
                                                                <td>{{workflow.levelNo}}  </td>
                                                                <td>{{workflow.approvalStatus}}  </td>
                                                                <td>{{workflow.employeeName}}  </td>
                                                                <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                                <!-- <td>
                                                                     &lt;!&ndash;  <button>Approval</button>
                                                                   <button>Reject</button>&ndash;&gt;
                                                                     <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                                 </td>-->
                                                                <td>{{workflow.comment}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<div id="UploadFile" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Plan Layout And Upload Files</h4>
            </div>
            <form role="form" name="myform" class="" ng-submit="editProjectUploadsDetails()">
                <div class="modal-body">
                    <div class="schemForms row">

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Location</label>:
                            <input placeholder="Enter Location" type="text" class="form-control" ng-model="editId.location" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Village</label>:
                            <input placeholder="Enter Village" type="text" class="form-control" ng-model="editId.village"  required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>City</label>:
                            <input placeholder="Enter City" type="text" class="form-control" ng-model="editId.city"  required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Survey Area</label>:
                            <input placeholder="Enter Survey Area" type="text" class="form-control" ng-model="editId.surveyArea"  required/>
                        </div>

                        <!--    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>Plan Status:</label>
                                <select ng-model="editId.palnStatus" data-style="btn-primary">
                                    <option value="">Select Plan Staus</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </div>-->

                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="scheme.eligibleCriteria" placeholder="Enter Comment"></textarea>
                        </div>-->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Files</label>
                            <!--<button class="btn btn-success" ngf-select="uploadFiles($files)" multiple accept="*" lang="en">Upload Files</button>-->
                            <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,application/pdf'" lang="en">Upload Files</button>
                            <br>
                            <br>Files:

                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th lang="en">File Name</th>
                                    <th lang="en">File Size</th>
                                    <th lang="en">Comment</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="f in editId.file">
                                    <td>
                                        <a target="_blank" href="{{docUploadURL}}{{f._id}}" class="color-text1"><h5>{{f.filename}}</h5></a>
                                    </td>
                                    <td>{{f.size}}</td>
                                    <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                    </td>
                                    <td class="width20">
                                        <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile($index, f._id, 'file')"></span>
                                    </td>


                                </tr>
                                </tbody>
                            </table>
                            <span class="progress" ng-show="progress >= 0"></span>
                            <!--<div ng-bind="progress + '%'">

                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Plan Layout Approval</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Plan Layout Reject</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en" lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="addUploadFile" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Plan Layout And Upload Details</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="projectUploads()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class=" form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <h5 class="errorMsg message fadein fadeout">{{formNotSelected}}</h5>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Location</label>:
                            <input placeholder="Enter Location" type="text" class="form-control" ng-model="upload.location" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Village</label>:
                            <input placeholder="Enter Village" type="text" class="form-control" ng-model="upload.village" required  />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>City</label>:
                            <input placeholder="Enter City" type="text" class="form-control" ng-model="upload.city" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Survey Area</label>:
                            <input placeholder="Enter Survey Area" type="text" class="form-control" ng-model="upload.surveyArea" required />
                        </div>

                        <!--   <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                               <label>Plan Status:</label>
                               <select ng-model="upload.palnStatus" data-style="btn-primary" required >
                                   <option value="-- Select Plan Status --">-- Select Plan Status --</option>
                                   <option>Approved</option>
                                   <option>Rejected</option>
                               </select>
                           </div>-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Date</label>:
                            <input placeholder="Start Date" type="text" ng-model="upload.date" ng-calendar format="%m-%d-%Y" readonly  />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div ng-show="fileErrorMessage" class="color-red">Please Select uploaded files</div>
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Files</label>required
                            <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,application/pdf'" lang="en">Upload Files</button>
                            <br>
                            <br>
                            <div class="table-responsive" ng-show="fileUpload"><span lang="en">Upload Files</span>:
                                <table class="table" >
                                    <thead>
                                    <tr>
                                        <th lang="en">File Name</th>
                                        <th lang="en">File Size</th>
                                        <th lang="en">Comment</th>
                                        <th lang="en">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="f in docList">
                                        <td>   <a target="_blank" href="{{docUploadURL}}{{f._id}}" class="color-text1"><h5>{{f.filename}}</h5></a>
                                        </td>
                                        <td>{{f.size}}</td>
                                        <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                        </td>
                                        <td class="width20">
                                            <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile($index, f._id, 'file')"></span>
                                        </td>
                                    </tr>

                                    </tbody>

                                    <!--  <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">   {{f.filename}}</div>
                                      <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                          <label><span class="color-red f-bold f-left">*</span>Comment</label>
                                          <textarea rows="1" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                      </div>-->

                                </table>
                            </div>
                            <!-- <ul>
                                 <li ng-repeat="f in docList">
                                     {{f.filename}}
                                 </li>
                             </ul>-->
                            <span class="progress" ng-show="progress >= 0"></span>
                            <!--<div ng-bind="progress + '%'">

                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addPlanLayoutSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Successfully Plan Layout</h5>
                <!--<h5 class="color-red">{{createTaskDetailsView}}</h5>-->
                <h4>{{upload.location}}</h4>
                <h5>is Created.</h5>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="editPlanLayoutSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Plan Layout is Updated.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>
<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Plan Layout is Updated.</div>
            </div>
        </div>
    </div>
</div>