<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Priority</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class=" legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Priority</div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Acts</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.priorityedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="priorityClick()" lang="en">Create Priority
                            </button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#priority')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="priority" ng-show="hideDetails" class="table table-bordered table-striped"></table>

        <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                <thead>
                <tr>

                    <th class="field1" custom-sort order="'field1'" sort="sort" lang="en">Priority&nbsp;</th>
                    <th class="field2" custom-sort order="'field2'" sort="sort" lang="en">Description&nbsp;</th>
                    <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.priorityedit" lang="en">Action&nbsp;</th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="priorityInfo in priorityData">
                    <td class="text-capitalize">{{priorityInfo.priority}}</td>
                    <!--<td>{{priorityInfo.priority}}</td>-->
                    <td>{{priorityInfo.description}}</td>

                    <td ng-if="roleLogin.priorityedit">
                        <button class="btn btn-primary"
                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                data-target="#priorityEdit" ng-click="editPriorityPopup(priorityInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                        <!--<button class="btn btn-danger" data-toggle="modal"-->
                        <!--data-target="#priorityDelete"-->
                        <!--ng-click="deletePriorityPopup(priorityInfo)"><span class="glyphicon glyphicon-trash"></span></button>-->
                    </td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--****Creation**-->

<!-- Modal -->
<div class="modal fade" id="createPriorityModal" priority="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Priority</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>

                    <div class="text-center color-red f-bold" ng-show="priorityCreationError">{{priorityDescriptionError}}</div>

                    <form class="simple-form" ng-submit="createPriority(priority)">

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="priority" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Priority</span>:</label>
                            <input type="priority" class="form-control"
                                   id="priority1" ng-model="priority.priority"
                                   placeholder="Enter The Priority"
                                   title="Enter Priority"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="description" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Description</span>:</label>
                            <input type="description" class="form-control"
                                   id="description" ng-model="priority.description"
                                   placeholder="Enter The Description"
                                   title="Enter Description"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" />
                        </div>
                        <input id="savePriority" class="btn btn-success" type="submit" lang="en" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="priorityEdit" priority="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Priority</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>

                    <div class="text-center color-red f-bold" ng-show="priorityUpdationError">{{updatePriorityTypeError}}</div>

                    <form class="simple-form" ng-submit="editPriority()">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="priority1" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Priority</span>:</label>
                            <input type="priority" class="form-control"
                                   id="priorityy"
                                   ng-model="updatePriority.priority"
                                   placeholder="Enter The Priority"
                                   title="Enter Priority"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="description" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Description</span>:</label>
                            <input type="description" class="form-control"
                                   id="description2"
                                   ng-model="updatePriority.description"
                                   placeholder="Enter The Description"
                                   title="Enter Description"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" />
                        </div>

                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <input type="button" class="btn btn-default" lang="en" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**deletion**-->
<!--<div class="modal fade" id="priorityDelete" priority="dialog">
    <div class="modal-dialog">
        &lt;!&ndash; Modal content&ndash;&gt;
        <div class="modal-content" align="center">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="modal-title">Are you sure, you want to delete
                            the Priority: {{priority1}}?</h4>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <button class="btn btn-warning"
                                    ng-click="deletePriority()">Yes
                            </button>
                            <button class="btn btn-default"
                                    data-dismiss="modal">No
                            </button>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>
</div>-->


<div id="addSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{priority.priority}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{updatePriority.priority}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>



