<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Closure</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Closure</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectClosureExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="projectClosureExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">

                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectPlanId($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en"> Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                         <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                         -->   <tr>
                                <td><b lang="en">Estimation Cost</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.estimationCost}}</td>
                                <td><b lang="en">Utilized Cost</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.utilizedCost}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>% </span>Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"> Plan Description</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Header Schemes Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Field Visitor Details</div>-->
                        <div class="table-responsive adminContent2">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                                <!--<thead>
                                <tr>
                                    <th class="width160" lang="en">Header Name</th>
                                    <th class="text-center" lang="en">Scheme Details</th>
                                </tr>
                                </thead>-->
                                <tbody>
                                <tr ng-repeat="task in selectProjectTaskDetails">

                                    <td>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th colspan="20" class="text-uppercase headerBgColor">{{task.name}}</th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr>
                                                    <th lang="en">Sub Task Name</th>
                                                    <th lang="en">Status</th>
                                                    <th><b lang="en"><span>% </span>Complete</b></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="subTask in task.taskList">
                                                    <td>{{subTask.subTaskName}}</td>
                                                    <td>{{subTask.status}}</td>
                                                    <td>{{subTask.completePercenatge}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="clearfix visible-lg-block"></div>
                    <button class="btn btn-success" ng-click="showSection()" ng-show="!showSectionArea" lang="en">Project Closure</button>
                    <div class="clearfix visible-lg-block"></div>

                  <div ng-show="showSectionArea" class="schemForms">

                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                                <div class="projectMain m-top20 m-btm20 ">
                                    <div class="projectTile" lang="en">Project Closure</div>
                                    <div class="adminContent2">
                                        <form role="form" class="row" name="myform" class="adminContent">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center color-red" ng-show="errorMessage">
                                                Please Enter Comments
                                                <hr class="m-tb10"/>
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                                                <textarea rows="5" ng-model="closureDetails.comments" placeholder="Enter Comment" required></textarea>
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <button type="button"  ng-click="submitClosureConfirmButton()" class="btn btn-success" lang="en">Submit</button>
                                                <button type="button" class="btn btn-info" lang="en">Reset</button>
                                                <button type="button" class="btn btn-default" ng-click="cancelSection()" ng-show="showSectionArea" lang="en">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

         </div>

    </div>
</div>

<!--- Edit header scheme details --->
<div id="submitClosureMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Project Closure Comments</h4>
            </div>
            <!--<div class="">
                <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">

                                <li role="presentation" class="active">
                                    <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" data-placement="bottom"  title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                                    </a>
                                </li>

                                <li role="presentation" class="disabled">
                                    <a data-target="#step2" data-toggle="tab" aria-controls="step2" role="tab" data-placement="bottom"  title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                                    </a>
                                </li>

                                <li role="presentation" class="disabled skipTab">
                                    <a data-target="#complete" data-toggle="tab" aria-controls="complete" role="tab" data-placement="bottom"  title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                            <div class="tab-content text-center">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <h5>Project Getting Closed.<br /><br />
                                        No further updates can be made against 'Project ID'. <br /><br /></h5>
                                    <h4>Do you want to Proceed?</h4>

                                    <div class="modal-footer text-center">
                                        <ul class="list-inline text-center center-block nopadding">
                                            <li><button type="button" id="test" class="btn btn-default next-step1 width120 ">Skip</button></li>
                                            <li><button type="button" class="btn btn-primary next-step width120 ">Continue</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step2">
                                    <form role="form" name="myform" ng-submit="createProClosure()">
                                        <div class="row schemForms">

                                            <div class="modal-body ">
                                                <div ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                                                    {{errorMessageData}}<hr class="m-tb10" /></div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Department</span>:</label>
                                                    <select ng-model="closureForm.name" data-style="btn-primary" data-placement="Select Depatment" required>
                                                        <option value="" disabled>&#45;&#45;Select Status&#45;&#45;</option>
                                                        <option ng-repeat="dept in departmentList" value="{{dept.name}}" selected>{{dept.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Asset Name</span>:</label>
                                                    <input type="text" placeholder="Enter Asset Name" class="form-control" ng-model="closureForm.assetName" required />
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Land Locality</span>:</label>
                                                    <input type="text" placeholder="Enter Land Locality" class="form-control" ng-model="closureForm.landLocality" required />
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Land Details</span>:</label>
                                                    <select ng-model="closureForm.landDetails" data-style="btn-primary" data-placement="Select Land Details" required>
                                                        <option value="" disabled>&#45;&#45;Select Land Details&#45;&#45;</option>
                                                        <option value="Yards" selected>Yards</option>
                                                        <option value="Sq Meter">Sq Meter</option>
                                                        <option value="Acers">Acers</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Area In Units</span>:</label>
                                                    <input type="text" placeholder="Enter Area In Units" valid-number class="form-control" ng-model="closureForm.areaInUnits" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <ul class="list-inline pull-right">
                                                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                                <li><button type="submit" class="btn btn-primary next-step2">Continue</button></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="complete">
                                    <h3>Complete</h3>
                                    <p>You have successfully completed all steps.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </section>
            </div>-->

            <div class="">
                <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">

                                <li role="presentation" id="tab1" class="active">
                                    <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" data-placement="bottom"  title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                                    </a>
                                </li>

                                <li role="presentation" id="tab2" class="disabled">
                                    <a data-target="#step2" data-toggle="tab" aria-controls="step2" role="tab" data-placement="bottom"  title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                                    </a>
                                </li>

                                <li role="presentation" id="tab3" class="disabled skipTab">
                                    <a data-target="#complete" data-toggle="tab" aria-controls="complete" role="tab" data-placement="bottom"  title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content text-center">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <br /><h4 class="m-top20 m-btm20"> Do you want to add <b>Asset</b> for this project?</h4><br />
                                    <div class="modal-footer text-center">
                                        <ul class="list-inline text-center center-block nopadding">
                                            <li><button type="button" id="test" class="btn btn-default next-step1 width120 ">Skip</button></li>
                                            <li><button type="button" class="btn btn-primary next-step width120 ">Continue</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step2">
                                    <form role="form" name="myform" ng-submit="createProClosure()">
                                        <div class="row schemForms">

                                            <div class="modal-body ">
                                                <div ng-show="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                                                    {{errorMessageData}}<hr class="m-tb10" />
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Department</span>:</label>
                                                    <select ng-model="closure.departmentId" data-style="btn-primary" >
                                                        <option value="--Select Status--" selected disabled>--Select Status--</option>
                                                        <option ng-repeat="dept in departmentList" value="{{dept.id}}" selected>{{dept.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Asset Name</span>:</label>
                                                    <input type="text" placeholder="Enter Asset Name" class="form-control" ng-model="closure.assetName"  />
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Land Locality</span>:</label>
                                                    <input type="text" placeholder="Enter Land Locality" class="form-control" ng-model="closure.landLocality"  />
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Land Details</span>:</label>
                                                    <select ng-model="closure.landDetails" data-style="btn-primary" data-placement="Select Land Details" >
                                                        <option value="--Select Land Details--" selected disabled>--Select Land Details--</option>
                                                        <option value="Yards" >Yards</option>
                                                        <option value="Sq Meter">Sq Meter</option>
                                                        <option value="Acers">Acers</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                    <label><span lang="en">Area In Units</span>:</label>
                                                    <input type="text" placeholder="Enter Area In Units" valid-number class="form-control" ng-model="closure.areaInUnits"

                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-center">
                                            <ul class="list-inline pull-right">
                                                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                                <li><button type="submit" id="weak" class="btn btn-primary next-step2">Continue</button></li>
                                            </ul>
                                        </div>
                                    </form>



                                </div>
                                <div class="tab-pane" role="tabpanel" id="complete">
                                    <h5>Project Getting Closed.<br /><br />
                                     No further updates can be made against 'Project ID'. <br /><br /></h5>
                                    <h4>Do you want to Proceed?</h4>
                                    <div class="modal-footer text-center">
                                        <ul class="list-inline text-center center-block nopadding">
                                            <li><button type="button" ng-click="submitClosureComment()" class="btn btn-danger next-step1">Close the project</button></li>
                                            <li><button type="button" class="btn btn-primary next-step width120 " data-dismiss="modal">Cancel</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
            </div>

            <!--<form role="form" name="myform" class="" ng-submit="submitClosureComment()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div>
                                <h5>Project Getting Closed.<br /><br />
                                No further updates can be made against 'Project ID'. <br /><br /></h5>
                                <h4>Do you want to Proceed?</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button id="cancel" type="button" class="btn btn-danger" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>-->
        </div>

    </div>
</div>


<div id="showDesc" class="modal fade" role="dialog"  data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="nopadding color-green">{{assetdetails.assetName}}</h4>
                <hr class="m-tb10"/>
                <b>Asset Number: </b>{{assetdetails.assetNumber}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>
