<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span> </li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Charter</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="roleLogin.projectCharteredit">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right" lang="en"> </span> Charter</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-success pull-right" ng-click="createCharterModal()" lang="en">Create Charter</button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#charter')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-default pull-right m-right5 print-btn" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="charter" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile" lang="en">Charter List</div>
                    <div class="table-responsive projectInner">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" >
                            <thead>
                            <tr>
                                <th lang="en">Charter Name</th>
                                <th lang="en">Charter Description</th>
                                <th lang="en">Goal</th>
                                <th lang="en">Objectives</th>
                                <th lang="en">Business Outcomes</th>
                                <th lang="en">In scope/Out Scope</th>
                                <th lang="en">Plan ID</th>
                                <th lang="en">Status</th>
                                <th class="width20" lang="en" ng-if="roleLogin.projectCharteredit">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="charter in charterList">
                                <td class="text-capitalize">{{charter.name}}</td>
                                <td class="text-capitalize"><a ng-click="getcharterDesc(charter.name, charter.description)">{{charter.description | limitTo: 15 }}...</a></td>
                                <td><p class="text-capitalize">{{charter.goal}}</p></td>
                                <td><p class="text-capitalize">{{charter.objectives}}</p></td>
                                <td><p class="text-capitalize">{{charter.businessOutcomes}}</p></td>
                                <td><p class="text-capitalize">{{charter.inScope}}</p></td>
                                <td>{{charter.projectId}}</td>
<!--<<<<<<< HEAD
                                <td>{{charter.status}}</td>
                                <td class="width20" ng-if="roleLogin.projectCharteredit">
=======-->
                                <td class="text-capitalize">{{charter.status}}</td>
                                <td class="width20" ng-if="roleLogin.projectCharteredit">
<!--&gt;>>>>>> b82e0c4c664ecc31bb88fde94d3f88252b21c214-->
                                    <button class="btn btn-primary" ng-click="editCharterButton(charter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="createCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Charter</h4>
            </div>
            <form role="form" name="myform" ng-submit="createCharter()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="col-lg-12 col-md-12 col-sm-12 colxs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Charter Name</label>:
                            <input type="text" class="form-control" ng-model="charter.name" required />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Charter Description</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="charter.description" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Goal</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="charter.goal" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Objectives</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="charter.objectives" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Business Outcomes</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="charter.businessOutcomes" required /></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>In scope/Out Scope</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="charter.inScope" required /></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Status</label>
                            <select ng-model="charter.statusId" data-style="btn-primary" required>
                                <option value="">Select Status</option>
                              <!--  <option value="New">New</option>
                                <option value="ReBaseline">Rebase Line</option>
                                <option value="Closed">Closed</option>-->
                              <option ng-repeat="task in taskStateList"  value="{{task.id}}" class="text-capitalize">{{task.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Charter</h4>
            </div>
            <form role="form" name="myform" ng-submit="editCharter()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Charter Name</label>:
                            <input type="text" class="form-control" ng-model="editCharterData.name" required />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Charter Description</label>:
                            <textarea type="password" rows="3" class="form-control" ng-model="editCharterData.description" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Goal</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="editCharterData.goal" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Objectives</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="editCharterData.objectives" required /></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Business Outcomes</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="editCharterData.businessOutcomes" required /></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>In scope/Out Scope</label>:
                            <textarea type="text" rows="3" class="form-control" ng-model="editCharterData.inScope" required /></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Status</label>:
                            <select ng-model="editCharterData.statusId" data-style="btn-primary">
                                <option value="">Select Status</option>
                                <option ng-repeat="task in taskStateList"  value="{{task.id}}" >{{task.name}}</option>
                         <!--       <option value="New">New</option>
                                <option value="ReBaseline">Rebase Line</option>
                                <option value="Closed">Closed</option>
-->
                                <!--<option ng-repeat="charter in charterList"  value="{{charter.status}}" >{{charter.status}}</option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="addCharterSuccess" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully -' <b>{{charter.name}}</b> '  is Created.</div>
            </div>
        </div>
    </div>
</div>

<div id="editCharterSuccess" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Project Charter is Updated.</div>
            </div>
        </div>
    </div>
</div>
<div id="emptyDataTable" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>

<div id="showDesc" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="nopadding color-green">{{charterName}}</h4>
                <hr class="m-tb10"/>
                <b>Comment: </b>{{charterDesc}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>