<!-- <div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Plan Details</span></li>
            </ol>
        </div>
    </div>
</div> -->

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Plan</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                            <!-- <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectPlan')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button> -->
                            <a href="#/createPlan" ng-if="roleLogin.projectPlanedit" class="btn btn-success pull-right"><span lang="en">Create Plan</span></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="projectPlan" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <!--         <div class="projectMain m-top20 m-btm20 ">
                         <div class="projectTile" lang="en">Plan Layout And Upload Details</div>
                         <div class="table-responsive projectInner">-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <!--<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" >

                        <tbody>-->
                    <div ng-repeat="plan in planList" class="tableRepeatText m-btm20" >
                        <!-- <td class="nopadding">-->
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table nopadding table-bordered table-striped" >
                            <thead>
                            <th lang="en">Plan ID</th>
                            <th lang="en">Plan Name</th>
                            <th lang="en">Plan Department</th>
                            <!--<th>Plan Description</th>-->
                            <th lang="en">Start Date</th>
                            <th lang="en">End Date</th>
                            <th lang="en">Status</th>
                            <th lang="en"><span>% </span>Complete</th>
                            <th lang="en">Details</th>
                            <th lang="en">Action</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{plan.planId}}</td>
                                <td class="text-capitalize">{{plan.name}}</td>
                                <td class="text-capitalize">{{plan.department}}</td>
                                <td>{{plan.startDate}}</td>
                                <td>{{plan.endDate}}</td>
                                <td class="text-capitalize">{{plan.taskStatus}}</td>
                                <td>{{plan.completePercentage}}</td>
                                <!--    <td><a href="#/viewPlanDetails/{{plan.planId}}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-th-large"></span>
                                    </a></td>
                                    <td>
                                        <a class="btn btn-primary" ng-show="plan.editRebaseline" href="#/editPlan/{{plan.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </td>-->
                                <!--   <td>
                                       <button class="btn btn-primary" ng-click="editProjectUploads(document)"><span class="glyphicon glyphicon-pencil"></span></button>
                                   </td>-->

                                <td class="width120">
                                    <a href="#/editPlan/{{plan.id}}" class="btn btn-primary"  data-toggle="tooltip" title="Edit Plan Details" ng-if="plan.editDetails" ><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-primary " ng-click="viewPlanDetails(plan)" data-toggle="tooltip" title="View Plan Details" ><span class="glyphicon glyphicon-th-large"></span></a>
                                </td>

                                <td class="width50">
                                                    <span data-toggle="tooltip" title="View Project Plan">
                                                        <button class="btn btn-default center-block" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </button>
                                                    </span>
                                </td>
                                <td class="width50" ng-if="plan.approveFiledVisit">
                                    <!--data-toggle="modal" data-target="#approavlReport"-->
                                    <!--data-toggle="modal" data-target="#rejectReport"-->
                                    <button type="button" ng-if="plan.approveFiledVisit" data-toggle="tooltip" title="Approve" ng-click="approvalModal(plan)" class="btn btn-success" >
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                </td>
                                <td class="width50" ng-if="plan.approveFiledVisit">
                                    <button type="button" ng-if="plan.approveFiledVisit"  data-toggle="tooltip" title="Reject" ng-click="rejectModal(plan)"class="btn btn-danger" >
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" id="demo-{{$index}}">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th lang="en">Workflow Id</th>
                                                <th lang="en">Workflow Level</th>
                                                <th lang="en">Level No</th>
                                                <th lang="en">Status</th>
                                                <th lang="en">Approval Status</th>
                                                <th lang="en">Approval Person</th>
                                                <th lang="en">Date</th>
                                                <th lang="en">Comment</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="workflow in plan.workflow">
                                                <td>{{workflow.workflowId}} </td>
                                                <td>{{workflow.levelId}}  </td>
                                                <td>{{workflow.levelNo}}  </td>
                                                <td>{{workflow.status}}  </td>
                                                <td>{{workflow.approvalStatus}}  </td>
                                                <td>{{workflow.employeeName}}  </td>
                                                <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                <!--<td>-->
                                                <!--<button>Approval</button>-->
                                                <!--<button>Reject</button>-->
                                                <!--<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>-->
                                                <!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>-->
                                                <!--</td>-->
                                                <td class="text-capitalize">{{workflow.comment}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--</td>-->
                    </div>
                    <!--</tbody>-->

                    <!--</table>-->

                </div>

            </div>
            <!--

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th lang="en">Plan ID</th>
                                        <th lang="en">Plan Name</th>
                                        <th lang="en">Plan Department</th>
                                        &lt;!&ndash;<th>Plan Description</th>&ndash;&gt;
                                        <th lang="en">Start Date</th>
                                        <th lang="en">End Date</th>
                                        <th lang="en">Status</th>
                                        <th lang="en"><span>% </span>Complete</th>
                                        <th lang="en">Details</th>
                                        <th lang="en">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="plan in planList">
                                        <td>{{plan.planId}}</td>
                                        <td>{{plan.name}}</td>
                                        <td>{{plan.department}}</td>
                                        <td>{{plan.startDate}}</td>
                                        <td>{{plan.endDate}}</td>
                                        <td>{{plan.taskStatus}}</td>
                                        <td>{{plan.completePercentage}}</td>
                                        <td><a href="#/viewPlanDetails/{{plan.planId}}" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-th-large"></span>
                                        </a></td>
                                        <td>
                                            <a class="btn btn-primary" ng-show="plan.editRebaseline" href="#/editPlan/{{plan.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
            -->

        </div>




    </div>
</div>
<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>
<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Project Plan Approval</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Project Plan Reject</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en" lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="planDetailsView" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Project Plan Details</h4>
            </div>

            <div class="modal-body">
                <table class="table table-bordered trable-stripped">
                    <tr>
                        <td class="f-bold"><span lang="en">Name</span></td>
                        <td>:</td>
                        <td class="text-capitalize" colspan="4">{{planDetailsView.name}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">City</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.city}}</td>
                        <td class="f-bold"><span lang="en">Mandal</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.mandal}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Village</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.village}}</td>
                        <td class="f-bold"><span lang="en">Address</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.address}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">ApplicantId</span></td>
                        <td>:</td>
                        <td>{{planDetailsView.applicantId}}</td>
                        <td class="f-bold"><span lang="en">Complete Percentage</span></td>
                        <td>:</td>
                        <td>{{planDetailsView.completePercentage}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Created Person</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.createdPerson}}</td>
                        <td class="f-bold"><span lang="en">Created Time</span></td>
                        <td>:</td>
                        <td>{{planDetailsView.createdTime}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Description</span></td>
                        <td>:</td>
                        <td class="text-capitalize" colspan="4">{{planDetailsView.description}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Location Co-Ordinates</span></td>
                        <td>:</td>
                        <td colspan="4">{{planDetailsView.locationCoOrdinates}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Start Date</span></td>
                        <td>:</td>
                        <td>{{planDetailsView.startDate}}</td>
                        <td class="f-bold"><span lang="en">End Date</span></td>
                        <td>:</td>
                        <td>{{planDetailsView.endDate}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Estimation Cost</span></td>
                        <td>:</td>
                        <td>{{planDetailsView.estimationCost}}</td>
                        <td class="f-bold"><span lang="en">UtilizedCost</span></td>
                        <td>:</td>
                        <td>{{planDetailsView.utilizedCost}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Final Status</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.finalStatus}}</td>
                        <td class="f-bold"><span lang="en">FinancialYear</span></td>
                        <td>:</td>
                        <td>{{planDetailsView.financialYear}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Task Status</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.taskStatus}}</td>
                        <td class="f-bold"><span lang="en">Plan Status</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.palnStatus}}</td>
                    </tr>
                    <tr>
                        <td class="f-bold"><span lang="en">Department</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.department}}</td>
                        <td class="f-bold"><span lang="en">ULB</span></td>
                        <td>:</td>
                        <td class="text-capitalize">{{planDetailsView.ulb}}</td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <a ng-click="editPlanPopUp(planDetailsView)" class="btn btn-primary" ng-if="plan.editDetails" data-toggle="tooltip" title="Edit Plan Details"><span class="glyphicon glyphicon-pencil"></span></a>
                <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Plan State is Updated.</div>
            </div>
        </div>
    </div>
</div>