<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Work Order</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Work Order</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectWorkOrder')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" id="scroll" ng-click="projectWorkModal()" lang="en">Add Project Work Order</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="projectWorkOrder" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
               <div>
                   <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
               </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">
                        <div class="projectMain m-top20 m-btm20 table-responsive">
                            <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>%</span> Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Work Order Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                    <tr>
                                        <th lang="en">Work Order Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                               <tr ng-repeat="fieldVisit in filedVisitList" >
                                 <td colspan="4">
                                     <table class="table nopadding">
                                         <tr>
                                             <td class="width120"><b lang="en">Name</b>: <br />{{fieldVisit.employeeName}}</td>
                                             <td class="width120"><b lang="en">Description</b>: <br />{{fieldVisit.description}}</td>
                                             <td class="width120"><b lang="en">Start Date</b>: <br />{{fieldVisit.startDate}}</td>
                                             <td class="width120"><b lang="en">End Date</b>: <br />{{fieldVisit.EndDate}}</td>
                                             <td class="width120"><b lang="en">Estimated Cost</b>: <br />{{fieldVisit.EstimatedCost}}</td>
                                             <td class="width120"><b lang="en">Support Engineer</b>: <br />{{fieldVisit.supportEmp}}</td>
                                             <td class="width120"><b lang="en">Main Engineer</b>: <br />{{fieldVisit.mainEmp}}</td>
                                             <td class="width20">
                                                 <button class="btn btn-primary" ng-if="fieldVisit.editDetails" data-toggle="tooltip" title="Edit Details" ng-click="editFieldVisitors(fieldVisit)"><span class="glyphicon glyphicon-pencil"></span></button>
                                             </td>

                                             <td class="width20" >
                                                 <div  data-toggle="tooltip" title="View Workflow Details">
                                                 <button class="btn btn-default" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                     <span class="glyphicon glyphicon-eye-open"></span></button>
                                                 </div>
                                             </td>
                                             <td class="width20">
                                                 <button type="button" data-toggle="tooltip" title="View Bill Details" ng-click="workOrderDetails(fieldVisit)"class="btn btn-primary" >
                                                     <span class="glyphicon glyphicon-th-large"></span>
                                                 </button>
                                             </td>
                                             <td class="width20">
                                                 <!--data-toggle="modal" data-target="#approavlReport"-->
                                                 <!--data-toggle="modal" data-target="#rejectReport"-->
                                                 <button type="button" data-toggle="tooltip" title="Approve"  ng-if="fieldVisit.approveFiledVisit" ng-click="approvalModal(fieldVisit)" class="btn btn-success" >
                                                     <span class="glyphicon glyphicon-ok"  ></span>
                                                 </button>
                                              </td>
                                             <td class="width20">
                                               <button type="button" ng-if="fieldVisit.approveFiledVisit" data-toggle="tooltip" title="Reject" ng-click="rejectModal(fieldVisit)"class="btn btn-danger" >
                                                   <span class="glyphicon glyphicon-remove"></span>
                                               </button>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td colspan="12" class="hiddenRow">
                                                 <div class="accordian-body collapse" id="demo-{{$index}}">
                                                     <table class="table">
                                                         <thead>
                                                         <tr>
                                                             <th lang="en">Workflow Id</th>
                                                             <th lang="en">Workflow Level</th>
                                                             <th lang="en">Level No</th>
                                                             <th lang="en">Status</th>
                                                             <th lang="en">Approval Person</th>
                                                             <th lang="en">Date</th>
                                                             <th lang="en">Comment</th>
                                                         </tr>
                                                         </thead>
                                                         <tbody>
                                                         <tr ng-repeat="workflow in fieldVisit.workflow">
                                                             <td>{{workflow.workflowId}} </td>
                                                             <td>{{workflow.levelId}}  </td>
                                                             <td>{{workflow.levelNo}}  </td>
                                                             <td>{{workflow.approvalStatus}}  </td>
                                                             <td>{{workflow.employeeName}}  </td>
                                                             <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                            <!-- <td>
                                                                 &lt;!&ndash;  <button>Approval</button>
                                                               <button>Reject</button>&ndash;&gt;
                                                                 <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                                 <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                             </td>-->
                                                             <td>{{workflow.comment}}</td>
                                                         </tr>
                                                         </tbody>
                                                     </table>
                                                 </div>
                                             </td>
                                         </tr>
                                     </table>
                                 </td>
                             </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--- fieldVisistReportEdit --->
<div id="fieldVisitReportEdit" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Work Order Report</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="fieldVisitReportEdit()">

            <div class="modal-body">
                <div class="schemForms">
                    <div class="row">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Name</label>:
                                        <!--<input placeholder="Name" type="text" ng-model="editWorkOrder.name" />-->
                                        <select ng-model="editWorkOrder.employeeId" data-style="btn-primary" required>
                                            <option value="">Select Contractor</option>
                                            <option ng-repeat="contrator in contratorList" ng-selected="editWorkOrder.employeeId == contrator.employeeId" value="{{contrator.employeeId}}">{{contrator.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Description</label>:
                                        <textarea rows="5" ng-model="editWorkOrder.description" placeholder="Enter Visitor Description"  draggable="false" ></textarea>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Start Date</label>:
                                        <input placeholder="Start Date"  type="text" ng-calendar ng-model="editWorkOrder.startDate" format="%d-%m-%Y" readonly />
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>End Date</label>:
                                        <input placeholder="End Date"  type="text" ng-calendar ng-model="editWorkOrder.EndDate" format="%d-%m-%Y" readonly />
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Estimated Cost</label>:
                                        <input placeholder="Enter Estimated Cost" valid-number type="text" ng-model="editWorkOrder.EstimatedCost" format="%d-%m-%Y" />
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Support Engineer</label>
                                        <select ng-model="editWorkOrder.supportEmp" data-style="btn-primary" >
                                            <option value="">Select Employee</option>
                                            <option ng-repeat="employee in employeeList"  value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Main Engineer</label>
                                        <select ng-model="editWorkOrder.mainEmp" data-style="btn-primary" >
                                            <option value="">Select Employee</option>
                                            <option ng-repeat="employee in employeeList1"  value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                                        </select>
                                    </div>
                                </div>

                    </div>
                </div>

            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-success" lang="en">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>


        </div>
        </form>

    </div>
</div>
    </div>

<div id="addProjectWorkOrder" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Project Work Order</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="addProjectWorkOrderButton()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center color-red" ng-show="empCreationError">
                        {{createEmpError}}
                        <hr class="m-tb10"/>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Name</label>:
                        <!--<input placeholder="Name" type="text" ng-model="projectOrder.name" />-->
                        <select ng-model="projectOrder.employeeId" data-style="btn-primary" required>
                            <option value="">Select Contractor</option>
                            <option ng-repeat="contrator in contratorList" ng-selected="editMeasureBook.employeeId == contrator.employeeId" value="{{contrator.employeeId}}">{{contrator.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en">Description</label>:
                        <textarea rows="5" ng-model="projectOrder.description" placeholder="Enter Visitor Description"  draggable="false" ></textarea>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Start Date</label>:
                        <input placeholder="Start Date"  type="text" ng-calendar ng-model="projectOrder.startDate" format="%d-%m-%Y" readonly />
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>End Date</label>:
                        <input placeholder="End Date"  type="text" ng-calendar ng-model="projectOrder.EndDate" format="%d-%m-%Y" readonly />
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Estimated Cost</label>:
                        <input placeholder="Enter Estimated Cost" valid-number type="text" ng-model="projectOrder.EstimatedCost" format="%d-%m-%Y" />
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Support Engineer</label>
                        <select ng-model="projectOrder.supportEmp" data-style="btn-primary" >
                            <option value="">Select Employee</option>
                            <option ng-repeat="employee in employeeList"  value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Main Engineer</label>
                        <select ng-model="projectOrder.mainEmp" data-style="btn-primary" >
                            <option value="">Select Employee</option>
                            <option ng-repeat="employee in employeeList1"  value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="addProjectWorkOrderSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage"> Project Work Order is Created successfully</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="editFieldVisitReportSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage"> Work Order report added successfully</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Work Order is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="viewWorkOrderDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Field Visit Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nopadding">
                        <tbody>
                        <tr>
                            <td class="width120"><b lang="en">Plan Id</b></td>
                            <td class="width20">:</td>
                            <td>{{orderDetails.planId}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Contractor Name</b></td>
                            <td class="width20">:</td>
                            <td>{{orderDetails.employeeName}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Start Date</b></td>
                            <td class="width20">:</td>
                            <td>{{orderDetails.startDate}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">End Date</b></td>
                            <td class="width20">:</td>
                            <td>{{orderDetails.EndDate}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Estimated Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{orderDetails.EstimatedCost}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Support Emp</b></td>
                            <td class="width20">:</td>
                            <td>{{orderDetails.supportEmp}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Main Emp</b></td>
                            <td class="width20">:</td>
                            <td>{{orderDetails.mainEmp}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Description</b></td>
                            <td class="width20">:</td>
                            <td>{{orderDetails.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer text-center">
                <!--<button type="button" class="btn btn-success" lang="en">Ok</button>-->
                <button type="button" class="btn btn-success" ng-click="editWorkOrderData(orderDetails)" lang="en">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="approavlReport" class="modal fade ng-scope" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" lang="en">Approve Project Work Order Request</h4>
            </div>

            <form role="form" class="ng-pristine ng-invalid ng-invalid-required" name="myform" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--    <label lang="en"><span class="color-red f-bold f-left">*</span>Total Amount</label>
                                <input type="text" ng-model="fieldData.EstimatedCost"  readonly required />
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Approval Amount</label>
                                <input type="text"  ng-model="comments.approvedAmount" placeholder="Enter Approval Amount" required></textarea>
                            </div>-->
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                                <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" lang="en">Approve</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </div>

                </div></form>
        </div>
    </div>
</div>
<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" lang="en">Reject Project Work Order Request</h4>
            </div>
            <form role="form" class="ng-pristine ng-invalid ng-invalid-required" name="myform" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>