<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Reports</span></li>
                <li class="breadcrumb-item active"><span lang="en">Request Tracker</span></li>
            </ol> -->
        </div>
    </div>
</div>
<div class="pull-right">
    <a href=""><span class="glyphicon glyphicon-chevron-left"> </span> Go Back</a>
</div>
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Request Tracker</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <!--<table id="schemesExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>-->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row schemForms">
                    <form ng-submit="searchData()">
                    <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h5 class="text-left" lang="en">Select OR Search Category Name</h5>
                        <ui-select ng-change="selectCategory($select.selected.category)" reset-search-input="true" ng-model="projectId" theme="selectize">
                            <ui-select-match placeholder="Select or Search Category Name">{{$select.selected.category}}</ui-select-match>
                            <ui-select-choices repeat="proId in schemeList | filter: $select.search">
                                &lt;!&ndash;<span ng-bind-html="proId.projectId | highlight: $select.search"></span>&ndash;&gt;
                                <small ng-bind-html="proId.category | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center" ng-show="errorMessage">
                            <br />
                            {{showError}}
                            <hr />
                        </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h5 class="text-left" lang="en"><span class="color-red f-bold f-left">*</span>Select OR Search Scheme Name</h5>
                        <ui-select ng-change="selectName($select.selected.name)" reset-search-input="true" ng-model="projectId" theme="selectize">
                            <ui-select-match placeholder="Select or Search Scheme Name">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="proId in schemeList | filter: $select.search">
                                <!--<span ng-bind-html="proId.projectId | highlight: $select.search"></span>-->
                                <small ng-bind-html="proId.name | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h5 class="text-left" lang="en"><span class="color-red f-bold f-left">*</span>Select Status</h5>
                        <select ng-model="search.status" data-style="btn-primary" >
                            <option value="" disabled>Select Status</option>
                            <option value="all">All</option>
                            <option value="New">New</option>
                            <option value="Pending">Pending</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Approval">Approval</option>
                        </select>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-success m-top20">Submit</button>
                    </div>

                    </form>
                </div>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">
                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Filter Data</div>
                        <table datatable="ng" class="table table-bordered table-striped table-hover nopadding">
                            <thead>
                            <tr>
                                <th>Scheme Name</th>
                                <th>Request Status</th>
                                <th>Accept Status</th>
                                <th>Request Id</th>
                                <th>Applicant Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="schemeIs in schemeListDetails">
                                <td>{{schemeIs.schemeName}}</td>
                                <td>{{schemeIs.requestStatus}}</td>
                                <td>{{schemeIs.acceptStatus}}</td>
                                <td>{{schemeIs.requestId}}</td>
                                <td>{{schemeIs.name}}</td>
                                <td>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="7" class="headerBgColor ">Workflow Details</th>
                                            </tr>
                                            <tr>
                                                <th>Workflow Id</th>
                                                <th>Level Id</th>
                                                <th>Status</th>
                                                <th>Max Levels</th>
                                                <th>Level No</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="workflowIs in schemeIs.workflow">
                                                <td>{{workflowIs.workflowId}}</td>
                                                <td>{{workflowIs.levelId}}</td>
                                                <td>{{workflowIs.status}}</td>
                                                <td>{{workflowIs.maxLevels}}</td>
                                                <td>{{workflowIs.levelNo}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>