<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Reports</span></li>
                <li class="breadcrumb-item active"><span lang="en">Request Aging</span></li>
            </ol> -->
        </div>
    </div>
</div>
<!--<div class="pull-right">
    <a href=""><span class="glyphicon glyphicon-chevron-left"> </span> Go Back</a>
</div>-->
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Request Aging</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#requestAgingDetails')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table id="requestAgingDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>
                <div ng-show="selectProjectDetails">
                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Filter Data</div>
                            <div class="table-responsive p-all">
                                <table datatable="ng" class="table table-bordered table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Scheme</th>
                                            <th> < 10Days </th>
                                            <th> > 10Days < 30Days</th>
                                            <th> > 1Months < 3Months</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="schemeRang in schemeRanging">
                                            <td>{{schemeRang.schmeDetails.name}}</td>
                                            <td>{{schemeRang.tenDaysCount}}</td>
                                            <td>{{schemeRang.oneMonthCount}}</td>
                                            <td>{{schemeRang.threeMonthCount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>