<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Role Employees</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Role Employees</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <a  class="btn btn-success pull-right" href="#/createRoleEmployees"   lang="en">Add Employees To Role</a>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#roleExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="roleExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <div class="col-lg-offset-4 col-lg-4  col-md-offset-4 col-md-6 col-sm-12 col-xs-12">
                <h5 class="text-center"  lang="en">Select OR Search Role  Details</h5>
                <ui-select ng-change="selectRoleDetails($select.selected.id)" ng-model="projectId" theme="selectize">
                    <ui-select-match placeholder="Select or Search Role Employee Details">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="proId in rolemodelList | filter: $select.search">
                        <span ng-bind-html="proId.name | highlight: $select.search"></span>
                        <!--<small ng-bind-html="proId.name | highlight: $select.search"></small>-->
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-show="roleDetails">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row schemForms">
                    <form role="form" name="myform" ng-submit="updateRole()">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <hr class="m-tb10"/>
                            </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Enter Role Name:
                            </label>
                                <input type="text" placeholder="Enter Role Name" class="form-control" ng-model="rolemodelDetails.name" maxlength="30"  readonly title="Enter Role Name"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Status:</label>
                            <select ng-model="rolemodelDetails.status" data-style="btn-primary" data-placement="Select Status"   title="Select Status"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>

                        <form role="form" name="myform" ng-submit="updateRole()">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <hr class="m-tb10"/>
                            </div>
                        <div class="form-group table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <table  datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped"   >
                                <thead>
                                <tr>
                                    <th >Department Name</th>
                                    <th>EmployeeId</th>
                                    <th>Employee Name</th>
                                    <th class="width150">Select All<br> </th>

                                </tr>
                                </thead>
                                <thead>
                                <tr>
                                    <td ></td>
                                    <td></td>
                                    <td></td>
                                    <td class="width150"><input type="checkbox" class="inputCheck" ng-model="viewAll" ng-click="checkViewAll()" /></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="form in rolemodelDetails.formDetails | filter:search">
                                    <td>{{form.department}}</td>
                                    <td>{{form.employeeId}}</td>
                                    <td>{{form.name}}</td>
                                    <td>
                                        <input type="checkbox" class="inputCheck" ng-model="form.view"  ng-click="fromView(form)" >
                                    </td>

                                </tr>
                                </tbody>
                               <!-- <thead>
                                <tr>
                                    <th >Module</th>
                                    <th>Form Name</th>
                                    <th class="width150">View<br> </th>
                                    <th class="width150">Edit/All</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr>
                                    <td ></td>
                                    <td></td>
                                    <td class="width150"><input type="checkbox" ng-click="checkViewAll()" ng-model="viewAll" /></td>
                                    <td class="width150"><input type="checkbox" ng-click="checkEditAll()" ng-model="editAll" /></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="form in rolemodelDetails.formDetails | filter:search">
                                    <td>{{form.typeValue}}</td>
                                    <td>{{form.name}}</td>
                                    <td>
                                        <input type="checkbox"ng-model="form.view"  ng-click="fromView(form)" >
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="form.edit" ng-click="formEdit(form)" >
                                    </td>
                                </tr>
                                </tbody>-->
                            </table>

                            <div  ng-if="errorMessage" class="color-red text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{errorMessageData}}<hr />
                            </div>
                            <button type="submit" class="btn btn-success" lang="en">Update</button>
                           <!-- <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
-->
                        </div>


                    </form>
                </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>

<!--
<div id="addWorkFlow" class="modal fade" role="dialog">
    <div class="modal-dialog">

        &lt;!&ndash; Modal content&ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <a href="#/createRole" class="modal-title"  lang="en">Add Role</a>
            </div>


            <form role="form" name="myform" ng-submit="addRole()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="color-red text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{errorMessageData}}<hr />
                        </div>
                        <div ng-show="errorInEmployeeSelection" class="color-red text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">{{errorMessageEmployeeSelection}}
                            <hr />
                        </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Role Name:</label>

                            <input type="text" placeholder="Enter Role Name" class="form-control" ng-model="role.name" maxlength="30"  title="Enter Role Name"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Module Name:</label>
                            <select ng-model="role.module"   ng-change="selectModule(role.module)" data-style="btn-primary" data-placement="Select Module List"   title="Select Form List"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Module Name</option>
                                <option ng-repeat="module in moduleList" value="{{module.typeValue}}">{{module.typeName}}</b></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Form Name:</label>
                            <select ng-model="role.selectFormList" data-style="btn-primary" data-placement="Select Form List"   title="Select Form List"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Form Name</option>
                                <option value="all" selected>All</option>
                                <option ng-repeat="form in selectedForms" value="{{form.value}}">{{form.name}}</b></option>
                            </select>
                            &lt;!&ndash;<input type="text" placeholder="Enter Form List" class="form-control" ng-model=" workflow.purpose" required />&ndash;&gt;
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Employee Id List:</label>
                            <div ng-dropdown-multiselect="" search-filter="customFilter" options="employeeListData" selected-model="selectedEmployee" extra-settings="example15settings" title="Select Employee List"  data-toggle="tooltip" data-placement="top" required autocomplete="off"></div>
                            <pre>List: <span ng-repeat="bet in selectedEmployee">{{bet.id}}<span class="camaHide">,</span></span></pre>

                            &lt;!&ndash; <select ng-model="role.employeeName"  data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" selected>Select Employee List</option>
                                <option value="{{employees.name}}"  ng-repeat="employees in employeeList">{{employees.name}}</option>
                            </select>&ndash;&gt;

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Access Level:</label>
                            <select ng-model="role.selectAccessLevel" data-style="btn-primary" data-placement="Select Access Level" title="Select Access Level"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Access Level</option>
                                <option value="view" selected>View</option>
                               &lt;!&ndash; <option value="edit">Edit</option>&ndash;&gt;
                                <option value="all">All</option>
                            </select>
                           &lt;!&ndash; <input type="text" placeholder="Access" class="form-control" ng-model=" workflow.maxLevel" required />&ndash;&gt;
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Status:</label>
                            <select ng-model="role.status" data-style="btn-primary" data-placement="Select Status"   title="Select Status"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editRole" class="modal fade" role="dialog">
    <div class="modal-dialog">

        &lt;!&ndash; Modal content&ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Role</h4>
            </div>
            <form role="form" name="myform" ng-submit="editRoleButton()">
                <div class="row schemForms">
                    <div class="modal-body">

                        <div ng-show="errorInEmployeeSelection" class="color-red text-center f-bold f-left col-lg-12 col-md-12 col-sm-12 col-xs-12">{{errorMessageEmployeeSelection}}
                            <br />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Role Name:</label>

                            <input type="text" placeholder="Enter Role Name" class="form-control" ng-model="editRoleId.name" maxlength="30" title="Enter Role Name"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                        </div>

                    &lt;!&ndash;    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Form Name:</label>
                            <select ng-model="editRoleId.selectFormList" data-style="btn-primary" data-placement="Select Form List"   title="Select Form List"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Form List</option>
                                <option value="schemeManagement">Scheme Management</option>
                                <option value="schemeRequests">Scheme Requests</option>
                            </select>
                            &lt;!&ndash;<input type="text" placeholder="Enter Form List" class="form-control" ng-model=" workflow.purpose" required />&ndash;&gt;
                        </div>&ndash;&gt;
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <label> <span class="color-red f-bold f-left">*</span>Module Name:</label>
                            <select ng-model="role.module"   ng-change="selectModule(role.module)" data-style="btn-primary" data-placement="Select Module List"   title="Select Form List"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Module Name</option>
                                <option ng-repeat="module in moduleList" ng-selected="role.module== module.typeValue" value="{{module.typeValue}}">{{module.typeName}}</b></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <label> <span class="color-red f-bold f-left">*</span>Form Name:</label>
                            <select ng-model="role.selectFormList" data-style="btn-primary" data-placement="Select Form List"   title="Select Form List"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Form Name</option>
                                <option ng-repeat="form in selectedForms" ng-selected="role.selectFormList== form.value" value="{{form.value}}">{{form.name}}</b></option>
                            </select>
                            &lt;!&ndash;<input type="text" placeholder="Enter Form List" class="form-control" ng-model=" workflow.purpose" required />&ndash;&gt;
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Employee Id List:</label>
                            <div ng-dropdown-multiselect="" search-filter="customFilter" options="employeeListData"
                                 selected-model="editSelectedEmployee" extra-settings="example15settings" title="Select Employee List"  data-toggle="tooltip" data-placement="top" required autocomplete="off"></div>
                            <pre>List: <span ng-repeat="bet in editSelectedEmployee">{{bet.id}}<span class="camaHide">,</span></span></pre>

                            &lt;!&ndash; <select ng-model="role.employeeName"  data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" selected>Select Employee List</option>
                                <option value="{{employees.name}}"  ng-repeat="employees in employeeList">{{employees.name}}</option>
                            </select>&ndash;&gt;

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Access Level:</label>
                            <select ng-model="editRoleId.selectAccessLevel" data-style="btn-primary" data-placement="Select Access Level" title="Select Access Level"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Access Level</option>
                                <option value="view" selected>View</option>
                                <option value="edit">Edit</option>
                                <option value="all">All</option>
                            </select>
                            &lt;!&ndash; <input type="text" placeholder="Access" class="form-control" ng-model=" workflow.maxLevel" required />&ndash;&gt;
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Status:</label>
                            <select ng-model="editRoleId.status" data-style="btn-primary" data-placement="Select Status"   title="Select Status"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
-->

<div id="addRoleSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully -' <b>{{role.name}}</b> '  is Created.</div>
            </div>
        </div>
    </div>
</div>

<div id="editRoleSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully 'Role Employee' is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>