
<div  ng-if="viewRequestDivBack" class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Request Report</span></li>
            </ol> -->
        </div>
    </div>
</div>
<div ng-if="viewRequestDiv" class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Request Report</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-default pull-right" ng-click="exportToExcel('#viewRequestExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <!--  <button class="btn btn-default pull-right m-right5">
                                  <span class="glyphicon glyphicon-print"></span> Print
                              </button>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="viewRequestExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div>
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                            <thead>
                            <th lang="en">Scheme Name</th>
                            <th lang="en">Person Name</th>

                          <!--  <th lang="en">Approval Status</th>-->
                            <th lang="en">Created Date</th>
                            <th lang="en">Request Status</th>
                           <!-- <th lang="en">View More</th>-->

                            </thead>
                            <tbody>
                            <tr ng-repeat="request in requestLists">
                                <td>{{request.schemeName}}</td>
                                <td>{{request.name}}</td>

                                <!--<td>{{request.acceptStatus}}</td>-->
                                <td>{{request.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                                <td>{{request.status}}</td>
                                <!--<td class="width150"><a class="btn btn-primary" ng-click="viewStatus(request.id)">
                                    <span class="glyphicon glyphicon-th-large"></span></a></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
</div>

<div ng-if="requestDivBack" class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><a href="#/requests" ><span lang="en"> Request Report</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Change Request Status </span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="" ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div ng-if="requestDiv" class="adminContent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"></span>View Request Reports Status</div>
                <hr />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Request Details</div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped nopadding">
                            <tbody>
                            <tr>
                                <th class="text-left width160" lang="en">Request Id</th>
                                <td class="text-left">{{viewRequestDetails.requestId}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Scheme Name</th>
                                <td class="text-left">{{viewRequestDetails.schemeName}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Created Time</th>
                                <td class="text-left">{{viewRequestDetails.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Name</th>
                                <td class="text-left">{{viewRequestDetails.name}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Email Id</th>
                                <td class="text-left">{{viewRequestDetails.emailId}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Mobile Number</th>
                                <td class="text-left">{{viewRequestDetails.mobileNumber}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Request Status</th>
                                <td class="text-left">{{viewRequestDetails.requestStatus}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Accept Status</th>
                                <td class="text-left">{{viewRequestDetails.acceptStatus}}</td>
                            </tr>
                            <tr>
                                <th class="text-left width160" lang="en">Uploaded Files</th>
                                <td class="text-left">
                                    <!--<div ng-repeat="request in viewRequestDetails.files">
                                        <a target="_blank" href="{{uploadFile}}{{request.id}}">{{request.name}}</a>
                                    </div>-->

                                    <table class="table table-bordered table-stripped">
                                        <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>File Size</th>
                                            <th>Comment</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="request in viewRequestDetails.files">
                                            <td>
                                                <a target="_blank" href="{{uploadFile}}{{request.id}}">{{request.name}}</a>
                                            </td>
                                            <td>{{request.size}}</td>
                                            <td>{{request.comment}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Approval Information</div>
                    <table class="table table-bordered nopadding">
                        <tr>
                            <th lang="en">Level  Id</th>
                            <th lang="en">Approval Person</th>
                            <th lang="en">Status</th>
                            <th lang="en">Comment</th>
                        </tr>
                        <tr  ng-repeat="work in viewRequestDetails.workflow">
                            <td>{{work.levelId}}</td>
                            <td>{{work.employeeName}}</td>
                            <td>{{work.requestStatus}}</td>
                            <td>{{work.comment}}</td>

                        </tr>
                    </table>
                </div>
                <!--   <button class="btn btn-lg" ng-click="clickBack()">Cancel</button>-->
                <!--<button class="btn btn-success btn-lg">Submit</button>-->
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>