<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Reports</span></li>
                <li class="breadcrumb-item active"><span lang="en">Workflow Tracker</span></li>
            </ol>
        </div>
    </div>
</div>
<!--<div class="pull-right">
    <a href=""><span class="glyphicon glyphicon-chevron-left"> </span> Go Back</a>
</div>-->
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Workflow Tracker</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#workflowTrackerDetails')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="workflowTrackerDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center" ng-show="editDoubleClick">
                        {{errorUpdateMessage}}
                        <hr class="m-tb10" />
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <h5 class="text-left" lang="en">Select OR Search Workflow Name</h5>
                        <ui-select ng-change="workflowLevels($select.selected.workflowId)" reset-search-input="true" ng-model="projectId" theme="selectize">
                            <ui-select-match placeholder="Select or Search Workflow Name">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="proId in workflowName | filter: $select.search">
                                <!--<span ng-bind-html="proId.projectId | highlight: $select.search"></span>-->
                                <small ng-bind-html="proId.name | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <h5 class="text-left" lang="en">Select OR Search Level</h5>
                        <ui-select ng-change="selectLevel($select.selected.levelId)" reset-search-input="true" ng-model="projectId" theme="selectize">
                            <ui-select-match placeholder="Select or Search Level">{{$select.selected.levelId}}</ui-select-match>
                            <ui-select-choices repeat="proId in workflowLevelNo | filter: $select.search">
                                <!--<span ng-bind-html="proId.projectId | highlight: $select.search"></span>-->
                                <small ng-bind-html="proId.levelNo | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <h5 class="text-left" lang="en">Select OR Search Employee</h5>
                        <ui-select ng-change="selectEmployee($select.selected.employeeId)" reset-search-input="true" ng-model="projectId" theme="selectize">
                            <ui-select-match placeholder="Select or Search Status">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="proId in workflowEmployee | filter: $select.search">
                                <!--<span ng-bind-html="proId.projectId | highlight: $select.search"></span>-->
                                <small ng-bind-html="proId.name | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="row">

                    <div class="">
                    <form ng-submit="getData()">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="schemForms">
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h5 lang="en">From</h5>
                                    <input ng-model="startDate" placeholder="Start Date"  type="text"   ng-calendar format="%m-%d-%Y" readonly>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h5 lang="en">To</h5>
                                    <input ng-model="endDate" placeholder="End Date"  type="text"   ng-calendar format="%m-%d-%Y" readonly>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <br />
                                    <button class="btn btn-success m-top20">Submit</button>
                                </div>
                            </div>
                        </div>

                    </div>


                    </form>
                </div>
                    </div>
                </div>



            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--<table id="requestAgingDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>-->
                <div ng-show="selectProjectDetails">
                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Filter Data</div>
                            <div class="table-responsive p-all">
                                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Scheme Name</th>
                                        <th>Scheme UniqueId</th>
                                        <th>Request Id</th>
                                        <th>Name</th>
                                        <th>Email Id</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="workflowNo in workflowLevelData">
                                        <td>{{workflowNo.schemeName}}</td>
                                        <td>{{workflowNo.schemeUniqueId}}</td>
                                        <td>{{workflowNo.requestId}}</td>
                                        <td>{{workflowNo.name}}</td>
                                        <td>{{workflowNo.emailId}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>